.content {
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.content .main,
.content .main-aside {
  font: 0/0 a;
  padding-left: 35px;
  padding-right: 35px;
}

.content .main-aside > * {
  display: inline-block;
  vertical-align: top;
}

.content .main section {
  width: 100%;
}

.content .main-aside section {
  width: 630px;
}

.content .main-aside aside {
  width: 300px;
  margin-left: 30px;
}
