footer {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  padding: 25px;
  background: #570c53;
}

footer:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

footer > * {
  display: inline-block;
  vertical-align: top;
}

footer > * {
  position: relative;
  height: 135px;
  text-align: left;
  text-align-last: left;
}

footer .copyright {
  width: 240px;
}

footer .copyright div {
  font: 500 14px / 15px "Roboto";
  position: absolute;
  left: 0;
  text-align: left;
  color: #fff;
}

footer .copyright div:first-child {
  top: 0;
}

footer .copyright div:last-child {
  bottom: 0;
}

footer .links,
footer .social {
  margin-bottom: -15px;
}

footer .links a,
footer .social a {
  font: 500 14px / 15px "Roboto";
  display: block;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
}

footer .links a:hover,
footer .social a:hover {
  text-decoration: underline;
}

footer .social a {
  padding-left: 29px;
}

footer .social .fb {
  background: url(../../svg/social-ico-footer/fb.svg) no-repeat left center;
}

footer .social .vk {
  background: url(../../svg/social-ico-footer/vk.svg) no-repeat left center;
}

footer .social .tw {
  background: url(../../svg/social-ico-footer/tw.svg) no-repeat left center;
}

footer .social .yt {
  background: url(../../svg/social-ico-footer/yt.svg) no-repeat left center;
}

footer .social .tg {
  background: url(../../svg/social-ico-footer/tg.svg) no-repeat left center;
}

footer .organizers {
  width: 234px;
}

footer .organizers .title {
  font: 600 17px / 20px "Roboto";
  margin-bottom: 15px;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
}

footer .organizers .logos {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

footer .organizers .logos:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

footer .organizers .logos > * {
  display: inline-block;
  vertical-align: bottom;
}

footer .organizers .logos a {
  width: 112px;
  height: 100px;
  text-align: left;
  text-align-last: left;
  background: url(../../img/sprite/logos-footer.jpg) no-repeat;
}

footer .organizers .logos .fguild {
  background-position: 0 -100px;
}

footer .organizers .logos .sapfir {
  background-position: 0 0;
}
