header {
  position: relative;
  box-sizing: content-box;
  height: 105px;
  padding: 35px 35px 0 35px;
  margin-bottom: 30px;
  background: #fff;
}

header .social {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 15px;
  height: 26px;
}

header .social a {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  border-radius: 50%;
  background: url(../../img/sprite/social1.jpg) no-repeat;
}

header .social a:hover {
  opacity: .75;
}

header .social .fb {
  background-position: 0 0;
}

header .social .vk {
  background-position: 0 -26px;
}

header .social .lin {
  background-position: 0 -52px;
}

header .social .mr {
  background-position: 0 -78px;
}

header .social .ok {
  background-position: 0 -104px;
}

header .social .gp {
  background-position: 0 -130px;
}

header .social .lj {
  background-position: 0 -156px;
}

header .social .tw {
  background-position: 0 -182px;
}

header .social .tg {
  background-position: 0 -208px;
}

header .social .yt {
  background-position: 0 -234px;
}

header .social .in {
  background-position: 0 -260px;
}

header .social .rss {
  background-position: 0 -286px;
}

header .login {
  font: 0/0 a;
  position: absolute;
  top: 15px;
  right: 35px;
  height: 26px;
  text-align: right;
}

header .login div {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}

header .login span {
  display: inline-block;
  vertical-align: middle;
}

header .login .link {
  font: 400 13px / 26px "Roboto";
  text-align: right;
  color: #2e0245;
}

header .login .ico {
  font: 400 15px / 26px "Roboto";
  margin-right: 3px;
}

header .login .ico svg,
header .login .ico path {
  fill: #ce3762;
}

header .login div:hover .link {
  color: #7b2e8c;
  text-decoration: underline;
}

header .login div:hover .ico svg,
header .login div:hover .ico path {
  fill: #7b2e8c;
}

header .menu {
  font: 0/0 a;
  height: 75px;
  background: #fff;
}

header .menu > * {
  display: inline-block;
  vertical-align: bottom;
}

header .menu .logotype {
  width: 245px;
  height: 75px;
  background: url(../../svg/logotype/full.svg) no-repeat center center;
}

header .menu .big {
  width: 715px;
  height: 50px;
  position: relative;
  overflow: hidden;
  background: #570c53;
}

header .menu .big * {
  display: inline-block;
  vertical-align: top;
}

header .menu .big nav {
  width: 663px;
  height: 50px;
}

header .menu .big nav a {
  font: 500 16px / 50px "Roboto";
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

header .menu .big nav a:hover {
  background: #691d70;
}

header .menu .big nav a:first-child {
  padding-left: 16px;
}

header .menu .big nav .l1 {
  width: 146px;
}

header .menu .big nav .l2 {
  width: 99px;
}

header .menu .big nav .l3 {
  width: 68px;
}

header .menu .big nav .l4 {
  width: 78px;
}

header .menu .big nav .l5 {
  width: 114px;
}

header .menu .big nav .l6 {
  width: 158px;
}

header .menu .big:before {
  width: 30px;
  height: 56px;
  position: absolute;
  top: 2px;
  left: -21px;
  transform: rotate(-18deg);
  background: #fff;
  content: '';
}

header .menu .big .search {
  width: 52px;
  height: 50px;
}

header .menu .big .search .ico,
header .menu .big .search .ico-cross {
  width: 52px;
  height: 50px;
  position: relative;
  z-index: 15;
  cursor: pointer;
}

header .menu .big .search .ico {
  background: url(../../svg/seacrh/loupe.svg) no-repeat center center, #570c53;
}

header .menu .big .search .ico-cross {
  background: url(../../svg/seacrh/cross.svg) no-repeat center center, #570c53;
}

header .menu .big .search .ico:hover {
  background-color: #691d70;
}

header .menu .big .search .ico-cross:hover {
  background-color: #570c53;
}

header .menu .big .search .search-group {
  width: 663px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: all .7s ease;
}

header .menu .big .search .search-group input {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  border: 0;
}

header .menu .big .search .search-group .text {
  font: 400 13px/normal "Roboto";
  width: 564px;
  margin: 13px 0 13px 17px;
  padding: 0 5px 0 10px;
  background: url(../../svg/seacrh/cut.svg) no-repeat left center, transparent;
}

header .menu .big .search .search-group .button {
  font: 400 14px / 24px "Roboto";
  width: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #691d70;
}

header .menu .big .search .search-group .button:hover {
  background: #7b2e8c;
}

header nav.mini {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  margin-top: 11px;
}

header nav.mini:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

header nav.mini > * {
  display: inline-block;
  vertical-align: middle;
}

header nav.mini * {
  font: 400 12px / 19px "Roboto";
}

header nav.mini a:first-child {
  font-weight: 500;
}

header nav.mini a:hover {
  color: #691d70;
}

header nav.mini span {
  width: 1px;
  height: 19px;
  background: #969696;
}
