.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
  background: rgba(0, 0, 0, 0.85);
}

.window {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 901;
  display: none;
  width: 400px;
  background: #fff;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.75);
}

.window.push {
  width: 360px;
  height: 90px;
  bottom: 50px;
  transform: translate(50%, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.window.push .logo,
.window.push .text {
  display: inline-block;
  vertical-align: top;
  height: 90px;
}

.window.push .logo {
  width: 90px;
  background: url(../../svg/logotype/square.svg) no-repeat center center;
}

.window.push .text {
  position: relative;
  overflow: hidden;
  width: 270px;
  padding: 10px;
}

.window.push .text .cross {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: .7;
  background: url(../../svg/cross-black.svg) no-repeat center center;
}

.window.push .text .cross:hover {
  opacity: 1;
}

.window.push .text .title {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 10px;
  text-align: left;
}

.window.push .text .descr {
  font: 400 13px / 15px "Roboto";
  text-align: justify;
}

.window-header {
  height: 64px;
  padding: 0 20px;
  background: #ebedf3;
}

.window-header .title, .window-header .cross {
  display: inline-block;
  vertical-align: top;
}

.window-header .title {
  font: 400 25px / 64px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 321px;
  text-align: left;
  color: #414448;
}

.window-header .cross {
  width: 19px;
  height: 19px;
  margin: 22px 0 23px 20px;
  cursor: pointer;
  opacity: .4;
  background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px;
}

.window-header .cross:hover {
  opacity: .7;
}

.window-footer {
  position: relative;
  height: 40px;
  background: #ebedf3;
}

.window-footer.switch {
  cursor: pointer;
}

.window-footer.switch:hover {
  background: #e1e3e7;
}

.window-footer .title {
  font: 500 15px / 40px "Roboto";
  text-align: center;
}

.window-footer:hover .descr {
  display: block;
}

.window-footer .descr:hover {
  display: none;
}

.window-footer .descr {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 50px;
  z-index: 904;
  display: none;
  width: 620px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.75);
}

.window-footer .descr p {
  font: 400 13px / 15px "Roboto";
  text-align: justify;
}

.window-footer .descr p {
  margin-bottom: 10px;
}

.window-footer .descr p:last-child {
  margin-bottom: 0;
}

.window-reminder {
  font: 400 14px / 18px "Open Sans";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
}

.window-reminder a {
  font-weight: 500;
  color: #fff;
}

.window-content.m20 {
  margin: 20px;
}

.window-content.m30 {
  margin: 30px;
}

.window-content .modal-ico {
  width: 64px;
  height: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background: url(../../img/sprite/icons-modal.jpg);
}

.window-content .modal-ico.success {
  background-position: 0 0;
}

.window-content .modal-ico.error {
  background-position: 0 -64px;
}

.window-content .modal-ico.warning {
  background-position: 0 -128px;
}

.window-content .text {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 20px;
  letter-spacing: .14px;
}

.window-content .phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.window-content .code input {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.window-content .code [type='text'] {
  width: 86px;
  margin-right: 20px;
}

.window-content .code [type='submit'] {
  width: 234px;
  padding: 0;
}

.window-content .ya-share2 {
  text-align: center;
}

.window-content .main-page-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 50px;
  font: 400 20px / 50px "Roboto";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.window-content .main-page-link:hover {
  background: #691d70;
}

.window-content .title {
  font: 500 16px / 18px "Roboto";
  padding: 14px 20px 10px 20px;
}

.window-content .description {
  font: 400 13px / 16px "Roboto";
  text-align: justify;
  padding: 15px 20px;
}

.window-content hr {
  border-color: #f4f4f4;
}

.window.sign-in.social .window-content {
  margin: 24px -25px 0 25px;
}

.window.sign-in.social .window-content a {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 25px 25px 0;
  background: url(../../img/sprite/social3.jpg) no-repeat 100px 100px;
}

.window.sign-in.social .window-content a.vk {
  background-position: 0 0;
}

.window.sign-in.social .window-content a.fb {
  background-position: 0 -100px;
}

.window.sign-in.social .window-content a.gp {
  background-position: 0 -200px;
}

.window.sign-in.social .window-content a.ya {
  background-position: 0 -300px;
}

.window.sign-in.social .window-content a.mr {
  background-position: 0 -400px;
}

.window.sign-in.social .window-content a.in {
  background-position: 0 -500px;
}

.window.sign-in.social .window-content a:hover {
  opacity: .75;
}

.window.sign-in.email .window-content {
  margin: 38px 65px 36px 65px;
}

.window.sign-in.email .window-content .ico div {
  width: 270px;
}

.window.sign-in.email .window-content .links {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  width: 100%;
  height: 15px;
  margin-top: 15px;
}

.window.sign-in.email .window-content .links:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.window.sign-in.email .window-content .links > * {
  display: inline-block;
  vertical-align: top;
}

.window.sign-in.email .window-content .links a {
  font: 400 13px / 15px "Roboto";
  text-align: left;
  text-align-last: left;
  color: #2e0245;
}

.window.sign-in.email .window-content .links a:hover {
  text-decoration: underline;
  color: #691d70;
}

.window.vote-info {
  font: 0/0 a;
  width: 950px;
  height: 522px;
  padding: 25px;
  text-align: left;
  background: #fff;
}

.window.vote-info > * {
  display: inline-block;
  vertical-align: top;
  height: 472px;
}

.window.vote-info img {
  width: 350px;
  margin-right: 25px;
}

.window.vote-info .information {
  position: relative;
  width: 525px;
}

.window.vote-info .information .name {
  font: 500 19px / 23px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  padding-right: 25px;
  letter-spacing: .19px;
}

.window.vote-info .information .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
  opacity: .4;
  background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px;
}

.window.vote-info .information .cross:hover {
  opacity: .7;
}

.window.vote-info .information .description {
  height: 430px;
  padding-right: 10px;
  overflow-y: auto;
  text-align: justify;
}

.window.vote-info .information .description div {
  font: 400 16px / 19px "Roboto";
  font-style: italic;
  margin-bottom: 20px;
  letter-spacing: .14px;
}

.window.image {
  width: auto;
  max-width: 860px;
  height: auto;
  max-height: 700px;
}

.window.image .window-content {
  max-width: 860px;
  max-height: 700px;
  overflow: hidden;
}

.window.image .ya-share2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity .3s ease;
}

.window.image:hover .ya-share2 {
  opacity: 1;
}

.window.image .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 920;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s ease;
  background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px;
}

.window.image:hover .cross {
  opacity: 1;
}

.window.image .move-left,
.window.image .move-right {
  width: 60px;
  height: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s ease;
}

.window.image .move-left {
  left: -60px;
  background: url(../../svg/ui/pag-white-left.svg) no-repeat center center;
}

.window.image .move-right {
  right: -60px;
  background: url(../../svg/ui/pag-white-right.svg) no-repeat center center;
}

.window.image .move-left:hover,
.window.image .move-right:hover {
  opacity: 1;
}

.window.video {
  width: 640px;
  height: auto;
}

.window.video .window-content {
  max-width: 860px;
  max-height: 700px;
  overflow: hidden;
}

.window.video .ya-share2 {
  position: absolute;
  right: 0;
  bottom: -34px;
}

.window.video .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 5px;
  right: -29px;
  z-index: 920;
  opacity: .4;
  cursor: pointer;
  transition: opacity .3s ease;
  background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px;
}

.window.video:hover .cross {
  opacity: 1;
}
