aside .sticky > div {
  margin-bottom: 20px;
}

aside .sticky > div:last-child {
  margin-bottom: 0;
}

.aside-anchor {
  font: 0/0 a;
}

.aside-anchor:after {
  display: block;
  margin-bottom: -5px;
  content: '';
}

.aside-anchor a {
  font: 400 13px / 15px "Roboto";
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
  margin-bottom: 5px;
  padding: 5px;
  border-left: 5px solid #570c53;
  background: #f9f9f9;
}

.aside-anchor a:hover {
  border-left-color: #7b2e8c;
  background: #efefef;
}

.aside-anchor .full {
  width: 300px;
}

.aside-anchor .semi a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 147px;
  margin-right: 6px;
}

.aside-anchor .semi a:nth-of-type(2n) {
  margin-right: 0;
}

.aside-btn a {
  font: 500 14px / 16px "Roboto";
  display: block;
  padding: 7px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.aside-btn a {
  margin-bottom: 10px;
}

.aside-btn a:last-child {
  margin-bottom: 0;
}

.aside-btn a:hover {
  background: #691d70;
}

.aside-news a {
  margin-bottom: 10px;
}

.aside-news a:last-child {
  margin-bottom: 0;
}

.aside-news a {
  font: 400 13px / 15px "Roboto";
  display: block;
  max-height: 52px;
  padding: 10px;
  text-align: left;
  color: #969696;
  border: 1px solid #d8d8d8;
  background: #f7f7f7;
}

.aside-news a:hover {
  color: #2d2630;
  border-color: #969696;
}
