aside .normal > div {
  margin-bottom: 30px;
}

aside .normal > div:last-child {
  margin-bottom: 0;
}

.aside-title {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 12px;
  background: #570c53;
}

.aside-title:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-title > * {
  display: inline-block;
  vertical-align: top;
}

.aside-title * {
  font: 400 14px / 40px "Roboto";
  text-align: left;
  text-align-last: left;
  color: #fff;
}

.aside-title div {
  font-size: 20px;
  text-transform: uppercase;
}

.aside-title a {
  font-size: 15px;
}

.aside-title a:hover {
  text-decoration: underline;
}

.aside-calendar a {
  display: block;
  overflow: hidden;
  height: 71px;
  padding: 6px;
  text-align: left;
  text-transform: uppercase;
}

.aside-calendar a:nth-child(odd) {
  background: #f9f9f9;
}

.aside-calendar a:hover {
  background: #efefef;
}

.aside-calendar a .title {
  font: 400 12px / 13px "Roboto";
  margin-bottom: 3px;
  padding-left: 16px;
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.aside-calendar a .event {
  font: 500 12px / 14px "Roboto";
  height: 42px;
}

.aside-banner {
  overflow: hidden;
}

.aside-banner a,
.aside-banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.aside-interview .aside-content a {
  font: 0/0 a;
  display: block;
  height: 100px;
  margin-bottom: 15px;
  color: #000;
}

.aside-interview .aside-content a:hover {
  background: #efefef;
}

.aside-interview .aside-content a img, .aside-interview .aside-content a .info {
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;
}

.aside-interview .aside-content a img {
  width: 80px;
  height: 100px;
}

.aside-interview .aside-content a .info {
  width: 220px;
  height: 100px;
  padding: 5px 0 5px 10px;
}

.aside-interview .aside-content a .name {
  font: 600 15px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  margin-bottom: 10px;
}

.aside-interview .aside-content a .quote {
  font: 400 14px / 16px "Roboto";
  height: 64px;
}

.aside-blog .aside-content a {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  display: block;
  height: 80px;
  margin-bottom: 15px;
  color: #000;
}

.aside-blog .aside-content a:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-blog .aside-content a > * {
  display: inline-block;
  vertical-align: top;
}

.aside-blog .aside-content a:hover {
  background: #efefef;
}

.aside-blog .aside-content img, .aside-blog .aside-content .info {
  text-align: left;
  text-align-last: left;
}

.aside-blog .aside-content img {
  width: 80px;
  height: 80px;
}

.aside-blog .aside-content .info {
  width: 220px;
  height: 80px;
  padding: 5px 0 5px 10px;
}

.aside-blog .aside-content .info .post {
  font: 400 15px / 16px "Roboto";
  height: 48px;
  margin-bottom: 8px;
}

.aside-blog .aside-content .info .name {
  font: 400 15px / 13px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 13px;
  padding-left: 18px;
  background: url(../../svg/pink-ico/pen.svg) no-repeat left center;
}

.aside-video .aside-content {
  position: relative;
  display: block;
}

.aside-video .aside-content:before {
  width: 300px;
  height: 169px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, 0.15);
}

.aside-video .aside-content:hover:before {
  background-color: rgba(0, 0, 0, 0.35);
}

.aside-video .aside-content img {
  margin-bottom: 5px;
}

.aside-video .aside-content div {
  font: 500 14px / 16px "Roboto";
  height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.aside-video .aside-content:hover div {
  text-decoration: underline;
}

.aside-press .aside-content a {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  display: block;
  height: 48px;
  margin-bottom: 7px;
}

.aside-press .aside-content a:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-press .aside-content a > * {
  display: inline-block;
  vertical-align: top;
}

.aside-press .aside-content a img,
.aside-press .aside-content a span {
  text-align: left;
  text-align-last: left;
}

.aside-press .aside-content a img {
  width: 22px;
  height: 22px;
  border: 1px solid #969696;
}

.aside-press .aside-content a span {
  font: 400 15px / 16px "Roboto";
  width: 278px;
  height: 48px;
  padding-left: 10px;
}

.aside-press .aside-content a:hover span {
  text-decoration: underline;
}
