section.sponsors {
  position: relative;
  width: 100%;
  padding: 30px 35px;
  background: #f4f4f4;
}

section.sponsors .title {
  font: 600 32px / 26px "Roboto";
  height: 26px;
  margin-bottom: 18px;
  text-align: left;
  text-transform: uppercase;
}

section.sponsors a {
  font: 0/0 a;
  position: absolute;
  top: 30px;
  right: 35px;
  height: 26px;
  text-align: right;
}

section.sponsors a span {
  display: inline-block;
  vertical-align: middle;
}

section.sponsors .link {
  font: 400 13px / 26px "Roboto";
  text-align: right;
  color: #2e0245;
}

section.sponsors .ico {
  font: 400 15px / 26px "Roboto";
  margin-right: 3px;
}

section.sponsors .ico svg,
section.sponsors .ico path {
  fill: #ce3762;
}

section.sponsors a:hover .link {
  text-decoration: underline;
  color: #7b2e8c;
}

section.sponsors a:hover .ico svg,
section.sponsors a:hover .ico path {
  fill: #7b2e8c;
}

section.sponsors .img-justify div {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

section.sponsors .img-justify div:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

section.sponsors .img-justify div > * {
  display: inline-block;
  vertical-align: top;
}

section.sponsors .img-justify div img {
  font: 400 14px/normal "Roboto";
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  vertical-align: middle;
}
