@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

ul,
ol {
  list-style: none;
}

a {
  background-color: transparent;
}

a:hover,
a:active {
  outline-width: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
}

hr {
  height: 2px;
  border: 0;
  border-bottom: 1px solid grey;
}

button,
input,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='reset'],
[type='submit'],
[type='button'] {
  cursor: pointer;
  user-select: none;
}

[disabled] {
  cursor: not-allowed;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

* {
  font-family: "Roboto", sans-serif, Arial, Verdana;
  color: #2d2630;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  padding-top: 90px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../../img/bg/bg1.jpg) no-repeat top center;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.container {
  width: 1030px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 140px 15px rgba(0, 0, 0, 0.3);
}

.group {
  font: 0/0 a;
  position: relative;
}

.group {
  margin-bottom: 20px;
}

.group:last-child {
  margin-bottom: 0;
}

.group .label {
  font: 500 15px / 16px "Roboto";
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.group.mb10 > * {
  margin-bottom: 10px;
}

.group.mb10 > *:last-child {
  margin-bottom: 0;
}

.group.mb20 > * {
  margin-bottom: 20px;
}

.group.mb20 > *:last-child {
  margin-bottom: 0;
}

.group-ver {
  font: 0/0 a;
  position: relative;
}

.group-ver {
  margin-bottom: 20px;
}

.group-ver:last-child {
  margin-bottom: 0;
}

.group-ver > * {
  display: inline-block !important;
  vertical-align: middle;
}

.group-ver .label {
  font: 400 15px / 16px "Roboto";
  width: calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 0;
}

.group-ver input {
  width: 80%;
}

.btn-ps,
.btn-pb {
  font-family: 'Roboto';
  display: block;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
}

.btn-ps,
.btn-pb {
  color: #fff !important;
  border: 0;
  background: #570c53;
}

.btn-pb {
  text-transform: uppercase;
}

.btn-ps:hover,
.btn-pb:hover {
  background: #691d70;
}

.btn-ps:disabled,
.btn-pb:disabled {
  background: #969696 !important;
}

.btn-ps.big,
.btn-pb.big {
  font-size: 20px;
  height: 50px;
}

.btn-ps.normal,
.btn-pb.normal {
  font-size: 16px;
  height: 40px;
}

.btn-ps.little,
.btn-pb.little {
  font-size: 13px;
  height: 30px;
}

.btn-more {
  font: 400 16px / 50px "Roboto";
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background: #f9f9f9;
}

.btn-more:hover {
  background: #d8d8d8;
}

.btn-left,
.btn-right,
.btn-center,
.btn-justify {
  font: 0/0 a;
}

.btn-left input,
.btn-right input,
.btn-center input,
.btn-justify input {
  display: inline-block;
  margin-bottom: 0 !important;
}

.btn-left input,
.btn-right input,
.btn-center input {
  margin-right: 10px;
}

.btn-left input:last-child,
.btn-right input:last-child,
.btn-center input:last-child {
  margin-right: 0;
}

.btn-left {
  text-align: left !important;
}

.btn-right {
  text-align: right !important;
}

.btn-center {
  text-align: center !important;
}

.btn-justify {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.btn-justify:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.btn-justify > * {
  display: inline-block;
  vertical-align: top;
}

.btn-fluid input {
  width: 100%;
  padding: 0;
}

.radio,
.checkbox {
  position: relative;
  display: block;
}

.radio,
.checkbox {
  margin-bottom: 5px;
}

.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}

.radio label,
.checkbox label {
  font: 0/0 a;
  display: block;
  cursor: pointer;
  text-align: left;
}

.radio label *,
.checkbox label * {
  display: inline-block;
  vertical-align: top;
}

.radio label input,
.checkbox label input {
  display: none;
}

.radio label div,
.checkbox label div {
  position: relative;
  transition: box-shadow .3s ease-in-out;
  background: #fff;
  box-shadow: inset 0 0 0 3px #570c53;
}

.radio.big label span,
.checkbox.big label span {
  font: 400 16px / 32px "Roboto";
}

.radio.big label div,
.checkbox.big label div {
  width: 32px;
  height: 32px;
  margin-right: 7px;
}

.radio.normal label span,
.checkbox.normal label span {
  font: 400 14px / 28px "Roboto";
}

.radio.normal label div,
.checkbox.normal label div {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.radio.little label span,
.checkbox.little label span {
  font: 400 12px / 24px "Roboto";
}

.radio.little label div,
.checkbox.little label div {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.radio label div, .radio label div:before {
  border-radius: 50%;
}

.radio label input + div:before,
.checkbox label input + div:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  transition: height .2s linear, width .2s linear, background .3s linear;
  transform: translate(-50%, -50%);
  background: #fff;
}

.radio label input:checked + div:before,
.checkbox label input:checked + div:before {
  background: #570c53;
}

.radio.big label input:checked + div:before,
.checkbox.big label input:checked + div:before {
  width: 20px;
  height: 20px;
}

.radio.normal label input:checked + div:before,
.checkbox.normal label input:checked + div:before {
  width: 16px;
  height: 16px;
}

.radio.little label input:checked + div:before,
.checkbox.little label input:checked + div:before {
  width: 12px;
  height: 12px;
}

.radio label input:hover + div,
.checkbox label input:hover + div {
  box-shadow: inset 0 0 0 3px #691d70;
}

.radio label input:checked:hover + div,
.checkbox label input:checked:hover + div {
  box-shadow: inset 0 0 0 3px #7b2e8c;
}

.radio label input:checked:hover + div:before,
.checkbox label input:checked:hover + div:before {
  background: #7b2e8c;
}

.radio label input:disabled + div,
.radio label input:disabled:hover + div,
.checkbox label input:disabled + div,
.checkbox label input:disabled:hover + div {
  cursor: default !important;
  box-shadow: inset 0 0 0 3px #969696 !important;
}

.radio label input:disabled + div:before,
.radio label input:disabled:hover + div:before,
.checkbox label input:disabled + div:before,
.checkbox label input:disabled:hover + div:before {
  cursor: default !important;
  background: #969696 !important;
}

.text-input,
.text-area {
  font: 400 14px/normal "Roboto";
  display: block;
  width: 100%;
  resize: none;
  color: #2d2630;
  border: 1px solid #969696;
  background: #fff;
}

.text-input.normal {
  font-size: 15px;
  height: 40px;
  padding: 0 10px;
}

.text-input.little {
  font-size: 12px;
  height: 30px;
  padding: 0 8px;
}

.text-area.normal {
  font-size: 15px;
  height: 100px;
  padding: 10px;
}

.text-area.little {
  font-size: 12px;
  height: 60px;
  padding: 8px;
}

.text-input:hover, .text-input:focus,
.text-area:hover,
.text-area:focus {
  border-color: #2d2630;
}

.text-area:disabled, .text-area:disabled:hover {
  color: #969696 !important;
  border-color: #969696 !important;
}

.select {
  font: 400 14px / 100% "Roboto";
  overflow: hidden;
  color: #2d2630;
  border: 1px solid #969696;
}

.select.normal {
  font-size: 15px;
  height: 40px;
  background: url("../../img/ui/arrow-down2.png") no-repeat right center/40px 40px, #fff;
}

.select.little {
  font-size: 12px;
  height: 30px;
  background: url("../../img/ui/arrow-down1.png") no-repeat right center/30px 30px, #fff;
}

.select select {
  width: calc(100% + 80px);
  height: 100%;
  line-height: 100%;
  display: block;
  margin: 0;
  padding: 0 40px 0 10px;
  border: 0;
  background: transparent;
  appearance: none;
}

.select:hover, .select:focus {
  border-color: #2d2630;
}

.select.disabled:hover {
  border-color: #969696 !important;
}

.select.disabled select:disabled {
  color: #969696 !important;
}

.phone-select {
  font: 0/0 a;
}

.phone-select > * {
  display: inline-block;
  vertical-align: top;
}

.phone-select .select {
  margin-right: 10px;
}

.phone-select.normal {
  height: 40px;
}

.phone-select.normal .select {
  width: 100px;
}

.phone-select.normal .text-input {
  width: calc(100% - 110px);
}

.phone-select.little {
  height: 30px;
}

.phone-select.little .select {
  width: 80px;
}

.phone-select.little .text-input {
  width: calc(100% - 90px);
}

.file-input {
  display: table;
}

.file-input label {
  display: table-cell;
  width: 1%;
  max-width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.file-input label span {
  position: relative;
  display: block;
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 0;
  background: #2d2630;
  touch-action: manipulation;
}

.file-input label span [type='file'] {
  display: none;
}

.file-input.normal label span {
  font: 400 15px / 40px "Roboto";
  height: 40px;
  padding: 0 11px;
}

.file-input.little label span {
  font: 400 12px / 30px "Roboto";
  height: 30px;
  padding: 0 8px;
}

.file-input [type='text'] {
  cursor: default;
  display: block;
  width: 100%;
  padding: 0 10px;
  color: #2d2630;
  border: 1px solid #969696;
  border-right: 0;
  background: #fff;
}

.file-input:hover [type='text'] {
  border-color: #2d2630;
}

.file-input.normal [type='text'] {
  font-size: 15px;
  height: 40px;
}

.file-input.little [type='text'] {
  font-size: 12px;
  height: 30px;
}

.file-input.disabled label span {
  cursor: default;
  background: #969696;
}

.file-input.disabled [type='text'] {
  color: #969696;
  border-color: #969696;
}

.pagination {
  width: 630px;
  height: 40px;
  font: 0/0 a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination li a {
  font: 500 16px / 40px "Roboto";
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: top;
  color: #2d2630;
  background-color: #f4f4f4;
}

.pagination li a:hover {
  background-color: #d8d8d8;
}

.pagination li .first,
.pagination li .last {
  width: 100px;
}

.pagination li .first {
  margin-right: 14px;
}

.pagination li .last {
  margin-left: 14px;
}

.pagination li .page,
.pagination li .prev,
.pagination li .next {
  width: 40px;
  margin: 0 5px;
}

.pagination li .prev {
  background: url(../../svg/ui/pag-black-left.svg) no-repeat center center/12px 20px, #f4f4f4;
}

.pagination li .next {
  background: url(../../svg/ui/pag-black-right.svg) no-repeat center center/12px 20px, #f4f4f4;
}

.pagination li .page.active {
  background-color: #d8d8d8;
}

.pagination.year li .first {
  margin-right: 8px;
}

.pagination.year li .last {
  margin-left: 8px;
}

.pagination.year li .page {
  width: 59px;
}

.text-input.error, .text-input.success, .text-input.warning, .text-input:disabled {
  padding-right: 35px !important;
}

.text-input.error {
  border-color: #f44336;
}

.text-input.success {
  border-color: #62b965;
}

.text-input.warning {
  border-color: #fdd835;
}

.text-input:disabled {
  color: #969696 !important;
  border-color: #969696 !important;
}

.text-input + .ico {
  display: none;
}

.text-input.error + .ico,
.text-input.success + .ico,
.text-input.warning + .ico,
.text-input:disabled + .ico {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}

.text-input.normal.error + .ico,
.text-input.normal.success + .ico,
.text-input.normal.warning + .ico,
.text-input.normal:disabled + .ico {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.text-input.little.error + .ico,
.text-input.little.success + .ico,
.text-input.little.warning + .ico,
.text-input.little:disabled + .ico {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.text-input.error + .ico,
.text-input.success + .ico,
.text-input.warning + .ico,
.text-input:disabled + .ico {
  background-image: url(../../img/sprite/icons-form.jpg);
}

.text-input.error + .ico {
  background-position: 0 -20px;
}

.text-input.success + .ico {
  background-position: 0 0;
}

.text-input.warning + .ico {
  background-position: 0 -40px;
}

.text-input:disabled + .ico {
  background-position: 0 -60px !important;
}

.text-input.error + .ico .msg,
.text-input.success + .ico .msg,
.text-input.warning + .ico .msg,
.text-input:disabled + .ico .msg {
  font: 400 13px / 15px "Roboto";
  position: absolute;
  z-index: 2;
  display: none;
  width: 445px;
  padding: 10px 16px;
  cursor: default;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.text-input.error + .ico .msg {
  border: 1px solid #f44336;
}

.text-input.success + .ico .msg {
  border: 1px solid #62b965;
}

.text-input.warning + .ico .msg {
  border: 1px solid #fdd835;
}

.text-input:disabled + .ico .msg {
  border: 1px solid #969696 !important;
}

.text-input.normal.error + .ico .msg,
.text-input.normal.success + .ico .msg,
.text-input.normal.warning + .ico .msg,
.text-input.normal:disabled + .ico .msg {
  position: absolute;
  right: -10px;
  bottom: 35px;
}

.text-input.little.error + .ico .msg,
.text-input.little.success + .ico .msg,
.text-input.little.warning + .ico .msg,
.text-input.little:disabled + .ico .msg {
  position: absolute;
  right: -5px;
  bottom: 30px;
}

.text-input.error + .ico .msg span {
  color: #f44336;
}

.text-input.success + .ico .msg span {
  color: #62b965;
}

.text-input.warning + .ico .msg span {
  color: #fdd835;
}

.text-input:disabled + .ico .msg span {
  color: #969696 !important;
}

.text-input.error + .ico .msg span,
.text-input.success + .ico .msg span,
.text-input.warning + .ico .msg span,
.text-input:disabled + .ico .msg span {
  font-weight: 600;
}

.text-input.error + .ico:hover .error {
  display: block;
}

.text-input.success + .ico:hover .success {
  display: block;
}

.text-input.warning + .ico:hover .warning {
  display: block;
}

.text-input:disabled + .ico:hover .disabled {
  display: block;
}

article > * {
  margin-bottom: 20px;
}

article > *:last-child {
  margin-bottom: 0;
}

hr {
  border-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  text-transform: uppercase;
}

h1 {
  font: 500 32px / 38px "Roboto";
}

h2 {
  font: 500 24px / 28px "Roboto";
}

h3 {
  font: 500 19px / 23px "Roboto";
}

h4 {
  font: 500 16px / 19px "Roboto";
}

h5 {
  font: 500 13px / 15px "Roboto";
}

h6 {
  font: 500 11px / 13px "Roboto";
}

p {
  font: 400 14px / 20px "Open Sans";
  text-align: justify;
}

p.gray,
p.gray * {
  color: #969696;
}

blockquote {
  font: 400 16px / 20px "Roboto";
  font-style: italic;
  text-align: justify;
  padding: 10px 0 10px 20px;
  border-left: 3px solid #7b2e8c;
}

article a {
  color: #570c53;
}

article a:hover {
  text-decoration: underline;
}

article > ol,
article > ul {
  padding-left: 17px;
}

article > ol {
  list-style: decimal;
}

article > ul {
  list-style: none;
}

article > ol > li,
article > ul > li {
  font: 400 14px / 22px "Open Sans";
  text-align: justify;
  padding-left: 10px;
  position: relative;
}

article > ul > li:before {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: -14px;
  border-radius: 50%;
  background: #7b2e8c;
  content: '';
}

.content-title {
  font: 400 14px/normal "Roboto";
}

.content-title hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #570c53;
}

.content-title span {
  font: 400 14px / 16px "Roboto";
  color: #969696;
}

article > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article .triple-img {
  font: 0/0 a;
  margin-right: -15px;
}

article .triple-img img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 15px;
}

.img-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.img-text .text {
  font: 0/0 a;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.img-text span {
  font: 400 16px / 14px "Roboto";
  display: inline-block;
  padding: 5px 7px;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.content-info {
  font: 0/0 a;
  height: 40px;
  margin-bottom: 20px;
  background: #f4f4f4;
}

.content-info .left,
.content-info .right {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  text-align: center;
}

.content-info .left {
  font: 400 15px / 40px "Roboto";
  width: 230px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.content-info .left:hover {
  background: #691d70;
}

.content-info.disabled .left {
  cursor: default;
  background: #969696 !important;
}

.content-info .right {
  position: relative;
  width: 400px;
}

.content-info .right div {
  font: 400 11px / 13px "Roboto";
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  left: 0;
  font-style: italic;
  width: 100%;
  padding: 0 10px;
}

.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  display: none;
  background: rgba(0, 0, 0, 0.85);
}

.window {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 901;
  display: none;
  width: 400px;
  background: #fff;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.75);
}

.window.push {
  width: 360px;
  height: 90px;
  bottom: 50px;
  transform: translate(50%, 0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.window.push .logo,
.window.push .text {
  display: inline-block;
  vertical-align: top;
  height: 90px;
}

.window.push .logo {
  width: 90px;
  background: url(../../svg/logotype/square.svg) no-repeat center center;
}

.window.push .text {
  position: relative;
  overflow: hidden;
  width: 270px;
  padding: 10px;
}

.window.push .text .cross {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: .7;
  background: url(../../svg/cross-black.svg) no-repeat center center;
}

.window.push .text .cross:hover {
  opacity: 1;
}

.window.push .text .title {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 10px;
  text-align: left;
}

.window.push .text .descr {
  font: 400 13px / 15px "Roboto";
  text-align: justify;
}

.window-header {
  height: 64px;
  padding: 0 20px;
  background: #ebedf3;
}

.window-header .title, .window-header .cross {
  display: inline-block;
  vertical-align: top;
}

.window-header .title {
  font: 400 25px / 64px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 321px;
  text-align: left;
  color: #414448;
}

.window-header .cross {
  width: 19px;
  height: 19px;
  margin: 22px 0 23px 20px;
  cursor: pointer;
  opacity: .4;
  background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px;
}

.window-header .cross:hover {
  opacity: .7;
}

.window-footer {
  position: relative;
  height: 40px;
  background: #ebedf3;
}

.window-footer.switch {
  cursor: pointer;
}

.window-footer.switch:hover {
  background: #e1e3e7;
}

.window-footer .title {
  font: 500 15px / 40px "Roboto";
  text-align: center;
}

.window-footer:hover .descr {
  display: block;
}

.window-footer .descr:hover {
  display: none;
}

.window-footer .descr {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 50px;
  z-index: 904;
  display: none;
  width: 620px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.75);
}

.window-footer .descr p {
  font: 400 13px / 15px "Roboto";
  text-align: justify;
}

.window-footer .descr p {
  margin-bottom: 10px;
}

.window-footer .descr p:last-child {
  margin-bottom: 0;
}

.window-reminder {
  font: 400 14px / 18px "Open Sans";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.75);
}

.window-reminder a {
  font-weight: 500;
  color: #fff;
}

.window-content.m20 {
  margin: 20px;
}

.window-content.m30 {
  margin: 30px;
}

.window-content .modal-ico {
  width: 64px;
  height: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  background: url(../../img/sprite/icons-modal.jpg);
}

.window-content .modal-ico.success {
  background-position: 0 0;
}

.window-content .modal-ico.error {
  background-position: 0 -64px;
}

.window-content .modal-ico.warning {
  background-position: 0 -128px;
}

.window-content .text {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 20px;
  letter-spacing: .14px;
}

.window-content .phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.window-content .code input {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.window-content .code [type='text'] {
  width: 86px;
  margin-right: 20px;
}

.window-content .code [type='submit'] {
  width: 234px;
  padding: 0;
}

.window-content .ya-share2 {
  text-align: center;
}

.window-content .main-page-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 50px;
  font: 400 20px / 50px "Roboto";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.window-content .main-page-link:hover {
  background: #691d70;
}

.window-content .title {
  font: 500 16px / 18px "Roboto";
  padding: 14px 20px 10px 20px;
}

.window-content .description {
  font: 400 13px / 16px "Roboto";
  text-align: justify;
  padding: 15px 20px;
}

.window-content hr {
  border-color: #f4f4f4;
}

.window.sign-in.social .window-content {
  margin: 24px -25px 0 25px;
}

.window.sign-in.social .window-content a {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 25px 25px 0;
  background: url(../../img/sprite/social3.jpg) no-repeat 100px 100px;
}

.window.sign-in.social .window-content a.vk {
  background-position: 0 0;
}

.window.sign-in.social .window-content a.fb {
  background-position: 0 -100px;
}

.window.sign-in.social .window-content a.gp {
  background-position: 0 -200px;
}

.window.sign-in.social .window-content a.ya {
  background-position: 0 -300px;
}

.window.sign-in.social .window-content a.mr {
  background-position: 0 -400px;
}

.window.sign-in.social .window-content a.in {
  background-position: 0 -500px;
}

.window.sign-in.social .window-content a:hover {
  opacity: .75;
}

.window.sign-in.email .window-content {
  margin: 38px 65px 36px 65px;
}

.window.sign-in.email .window-content .ico div {
  width: 270px;
}

.window.sign-in.email .window-content .links {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  width: 100%;
  height: 15px;
  margin-top: 15px;
}

.window.sign-in.email .window-content .links:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.window.sign-in.email .window-content .links > * {
  display: inline-block;
  vertical-align: top;
}

.window.sign-in.email .window-content .links a {
  font: 400 13px / 15px "Roboto";
  text-align: left;
  text-align-last: left;
  color: #2e0245;
}

.window.sign-in.email .window-content .links a:hover {
  text-decoration: underline;
  color: #691d70;
}

.window.vote-info {
  font: 0/0 a;
  width: 950px;
  height: 522px;
  padding: 25px;
  text-align: left;
  background: #fff;
}

.window.vote-info > * {
  display: inline-block;
  vertical-align: top;
  height: 472px;
}

.window.vote-info img {
  width: 350px;
  margin-right: 25px;
}

.window.vote-info .information {
  position: relative;
  width: 525px;
}

.window.vote-info .information .name {
  font: 500 19px / 23px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  padding-right: 25px;
  letter-spacing: .19px;
}

.window.vote-info .information .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
  opacity: .4;
  background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px;
}

.window.vote-info .information .cross:hover {
  opacity: .7;
}

.window.vote-info .information .description {
  height: 430px;
  padding-right: 10px;
  overflow-y: auto;
  text-align: justify;
}

.window.vote-info .information .description div {
  font: 400 16px / 19px "Roboto";
  font-style: italic;
  margin-bottom: 20px;
  letter-spacing: .14px;
}

.window.image {
  width: auto;
  max-width: 860px;
  height: auto;
  max-height: 700px;
}

.window.image .window-content {
  max-width: 860px;
  max-height: 700px;
  overflow: hidden;
}

.window.image .ya-share2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  transition: opacity .3s ease;
}

.window.image:hover .ya-share2 {
  opacity: 1;
}

.window.image .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 920;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s ease;
  background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px;
}

.window.image:hover .cross {
  opacity: 1;
}

.window.image .move-left,
.window.image .move-right {
  width: 60px;
  height: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  opacity: .4;
  transition: opacity .3s ease;
}

.window.image .move-left {
  left: -60px;
  background: url(../../svg/ui/pag-white-left.svg) no-repeat center center;
}

.window.image .move-right {
  right: -60px;
  background: url(../../svg/ui/pag-white-right.svg) no-repeat center center;
}

.window.image .move-left:hover,
.window.image .move-right:hover {
  opacity: 1;
}

.window.video {
  width: 640px;
  height: auto;
}

.window.video .window-content {
  max-width: 860px;
  max-height: 700px;
  overflow: hidden;
}

.window.video .ya-share2 {
  position: absolute;
  right: 0;
  bottom: -34px;
}

.window.video .cross {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 5px;
  right: -29px;
  z-index: 920;
  opacity: .4;
  cursor: pointer;
  transition: opacity .3s ease;
  background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px;
}

.window.video:hover .cross {
  opacity: 1;
}

header {
  position: relative;
  box-sizing: content-box;
  height: 105px;
  padding: 35px 35px 0 35px;
  margin-bottom: 30px;
  background: #fff;
}

header .social {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  top: 15px;
  height: 26px;
}

header .social a {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: top;
  margin: 0 3px;
  border-radius: 50%;
  background: url(../../img/sprite/social1.jpg) no-repeat;
}

header .social a:hover {
  opacity: .75;
}

header .social .fb {
  background-position: 0 0;
}

header .social .vk {
  background-position: 0 -26px;
}

header .social .lin {
  background-position: 0 -52px;
}

header .social .mr {
  background-position: 0 -78px;
}

header .social .ok {
  background-position: 0 -104px;
}

header .social .gp {
  background-position: 0 -130px;
}

header .social .lj {
  background-position: 0 -156px;
}

header .social .tw {
  background-position: 0 -182px;
}

header .social .tg {
  background-position: 0 -208px;
}

header .social .yt {
  background-position: 0 -234px;
}

header .social .in {
  background-position: 0 -260px;
}

header .social .rss {
  background-position: 0 -286px;
}

header .login {
  font: 0/0 a;
  position: absolute;
  top: 15px;
  right: 35px;
  height: 26px;
  text-align: right;
}

header .login div {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}

header .login span {
  display: inline-block;
  vertical-align: middle;
}

header .login .link {
  font: 400 13px / 26px "Roboto";
  text-align: right;
  color: #2e0245;
}

header .login .ico {
  font: 400 15px / 26px "Roboto";
  margin-right: 3px;
}

header .login .ico svg,
header .login .ico path {
  fill: #ce3762;
}

header .login div:hover .link {
  color: #7b2e8c;
  text-decoration: underline;
}

header .login div:hover .ico svg,
header .login div:hover .ico path {
  fill: #7b2e8c;
}

header .menu {
  font: 0/0 a;
  height: 75px;
  background: #fff;
}

header .menu > * {
  display: inline-block;
  vertical-align: bottom;
}

header .menu .logotype {
  width: 245px;
  height: 75px;
  background: url(../../svg/logotype/full.svg) no-repeat center center;
}

header .menu .big {
  width: 715px;
  height: 50px;
  position: relative;
  overflow: hidden;
  background: #570c53;
}

header .menu .big * {
  display: inline-block;
  vertical-align: top;
}

header .menu .big nav {
  width: 663px;
  height: 50px;
}

header .menu .big nav a {
  font: 500 16px / 50px "Roboto";
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

header .menu .big nav a:hover {
  background: #691d70;
}

header .menu .big nav a:first-child {
  padding-left: 16px;
}

header .menu .big nav .l1 {
  width: 146px;
}

header .menu .big nav .l2 {
  width: 99px;
}

header .menu .big nav .l3 {
  width: 68px;
}

header .menu .big nav .l4 {
  width: 78px;
}

header .menu .big nav .l5 {
  width: 114px;
}

header .menu .big nav .l6 {
  width: 158px;
}

header .menu .big:before {
  width: 30px;
  height: 56px;
  position: absolute;
  top: 2px;
  left: -21px;
  transform: rotate(-18deg);
  background: #fff;
  content: '';
}

header .menu .big .search {
  width: 52px;
  height: 50px;
}

header .menu .big .search .ico,
header .menu .big .search .ico-cross {
  width: 52px;
  height: 50px;
  position: relative;
  z-index: 15;
  cursor: pointer;
}

header .menu .big .search .ico {
  background: url(../../svg/seacrh/loupe.svg) no-repeat center center, #570c53;
}

header .menu .big .search .ico-cross {
  background: url(../../svg/seacrh/cross.svg) no-repeat center center, #570c53;
}

header .menu .big .search .ico:hover {
  background-color: #691d70;
}

header .menu .big .search .ico-cross:hover {
  background-color: #570c53;
}

header .menu .big .search .search-group {
  width: 663px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: all .7s ease;
}

header .menu .big .search .search-group input {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  border: 0;
}

header .menu .big .search .search-group .text {
  font: 400 13px/normal "Roboto";
  width: 564px;
  margin: 13px 0 13px 17px;
  padding: 0 5px 0 10px;
  background: url(../../svg/seacrh/cut.svg) no-repeat left center, transparent;
}

header .menu .big .search .search-group .button {
  font: 400 14px / 24px "Roboto";
  width: 82px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #691d70;
}

header .menu .big .search .search-group .button:hover {
  background: #7b2e8c;
}

header nav.mini {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  margin-top: 11px;
}

header nav.mini:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

header nav.mini > * {
  display: inline-block;
  vertical-align: middle;
}

header nav.mini * {
  font: 400 12px / 19px "Roboto";
}

header nav.mini a:first-child {
  font-weight: 500;
}

header nav.mini a:hover {
  color: #691d70;
}

header nav.mini span {
  width: 1px;
  height: 19px;
  background: #969696;
}

.content {
  width: 100%;
  position: relative;
  margin-bottom: 35px;
}

.content .main,
.content .main-aside {
  font: 0/0 a;
  padding-left: 35px;
  padding-right: 35px;
}

.content .main-aside > * {
  display: inline-block;
  vertical-align: top;
}

.content .main section {
  width: 100%;
}

.content .main-aside section {
  width: 630px;
}

.content .main-aside aside {
  width: 300px;
  margin-left: 30px;
}

aside .normal > div {
  margin-bottom: 30px;
}

aside .normal > div:last-child {
  margin-bottom: 0;
}

.aside-title {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  height: 40px;
  margin-bottom: 15px;
  padding: 0 12px;
  background: #570c53;
}

.aside-title:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-title > * {
  display: inline-block;
  vertical-align: top;
}

.aside-title * {
  font: 400 14px / 40px "Roboto";
  text-align: left;
  text-align-last: left;
  color: #fff;
}

.aside-title div {
  font-size: 20px;
  text-transform: uppercase;
}

.aside-title a {
  font-size: 15px;
}

.aside-title a:hover {
  text-decoration: underline;
}

.aside-calendar a {
  display: block;
  overflow: hidden;
  height: 71px;
  padding: 6px;
  text-align: left;
  text-transform: uppercase;
}

.aside-calendar a:nth-child(odd) {
  background: #f9f9f9;
}

.aside-calendar a:hover {
  background: #efefef;
}

.aside-calendar a .title {
  font: 400 12px / 13px "Roboto";
  margin-bottom: 3px;
  padding-left: 16px;
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.aside-calendar a .event {
  font: 500 12px / 14px "Roboto";
  height: 42px;
}

.aside-banner {
  overflow: hidden;
}

.aside-banner a,
.aside-banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.aside-interview .aside-content a {
  font: 0/0 a;
  display: block;
  height: 100px;
  margin-bottom: 15px;
  color: #000;
}

.aside-interview .aside-content a:hover {
  background: #efefef;
}

.aside-interview .aside-content a img, .aside-interview .aside-content a .info {
  display: inline-block;
  text-align: left;
  text-align-last: left;
  vertical-align: top;
}

.aside-interview .aside-content a img {
  width: 80px;
  height: 100px;
}

.aside-interview .aside-content a .info {
  width: 220px;
  height: 100px;
  padding: 5px 0 5px 10px;
}

.aside-interview .aside-content a .name {
  font: 600 15px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  margin-bottom: 10px;
}

.aside-interview .aside-content a .quote {
  font: 400 14px / 16px "Roboto";
  height: 64px;
}

.aside-blog .aside-content a {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  display: block;
  height: 80px;
  margin-bottom: 15px;
  color: #000;
}

.aside-blog .aside-content a:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-blog .aside-content a > * {
  display: inline-block;
  vertical-align: top;
}

.aside-blog .aside-content a:hover {
  background: #efefef;
}

.aside-blog .aside-content img, .aside-blog .aside-content .info {
  text-align: left;
  text-align-last: left;
}

.aside-blog .aside-content img {
  width: 80px;
  height: 80px;
}

.aside-blog .aside-content .info {
  width: 220px;
  height: 80px;
  padding: 5px 0 5px 10px;
}

.aside-blog .aside-content .info .post {
  font: 400 15px / 16px "Roboto";
  height: 48px;
  margin-bottom: 8px;
}

.aside-blog .aside-content .info .name {
  font: 400 15px / 13px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 13px;
  padding-left: 18px;
  background: url(../../svg/pink-ico/pen.svg) no-repeat left center;
}

.aside-video .aside-content {
  position: relative;
  display: block;
}

.aside-video .aside-content:before {
  width: 300px;
  height: 169px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, 0.15);
}

.aside-video .aside-content:hover:before {
  background-color: rgba(0, 0, 0, 0.35);
}

.aside-video .aside-content img {
  margin-bottom: 5px;
}

.aside-video .aside-content div {
  font: 500 14px / 16px "Roboto";
  height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.aside-video .aside-content:hover div {
  text-decoration: underline;
}

.aside-press .aside-content a {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  display: block;
  height: 48px;
  margin-bottom: 7px;
}

.aside-press .aside-content a:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.aside-press .aside-content a > * {
  display: inline-block;
  vertical-align: top;
}

.aside-press .aside-content a img,
.aside-press .aside-content a span {
  text-align: left;
  text-align-last: left;
}

.aside-press .aside-content a img {
  width: 22px;
  height: 22px;
  border: 1px solid #969696;
}

.aside-press .aside-content a span {
  font: 400 15px / 16px "Roboto";
  width: 278px;
  height: 48px;
  padding-left: 10px;
}

.aside-press .aside-content a:hover span {
  text-decoration: underline;
}

aside .sticky > div {
  margin-bottom: 20px;
}

aside .sticky > div:last-child {
  margin-bottom: 0;
}

.aside-anchor {
  font: 0/0 a;
}

.aside-anchor:after {
  display: block;
  margin-bottom: -5px;
  content: '';
}

.aside-anchor a {
  font: 400 13px / 15px "Roboto";
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left;
  margin-bottom: 5px;
  padding: 5px;
  border-left: 5px solid #570c53;
  background: #f9f9f9;
}

.aside-anchor a:hover {
  border-left-color: #7b2e8c;
  background: #efefef;
}

.aside-anchor .full {
  width: 300px;
}

.aside-anchor .semi a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 147px;
  margin-right: 6px;
}

.aside-anchor .semi a:nth-of-type(2n) {
  margin-right: 0;
}

.aside-btn a {
  font: 500 14px / 16px "Roboto";
  display: block;
  padding: 7px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.aside-btn a {
  margin-bottom: 10px;
}

.aside-btn a:last-child {
  margin-bottom: 0;
}

.aside-btn a:hover {
  background: #691d70;
}

.aside-news a {
  margin-bottom: 10px;
}

.aside-news a:last-child {
  margin-bottom: 0;
}

.aside-news a {
  font: 400 13px / 15px "Roboto";
  display: block;
  max-height: 52px;
  padding: 10px;
  text-align: left;
  color: #969696;
  border: 1px solid #d8d8d8;
  background: #f7f7f7;
}

.aside-news a:hover {
  color: #2d2630;
  border-color: #969696;
}

section.sponsors {
  position: relative;
  width: 100%;
  padding: 30px 35px;
  background: #f4f4f4;
}

section.sponsors .title {
  font: 600 32px / 26px "Roboto";
  height: 26px;
  margin-bottom: 18px;
  text-align: left;
  text-transform: uppercase;
}

section.sponsors a {
  font: 0/0 a;
  position: absolute;
  top: 30px;
  right: 35px;
  height: 26px;
  text-align: right;
}

section.sponsors a span {
  display: inline-block;
  vertical-align: middle;
}

section.sponsors .link {
  font: 400 13px / 26px "Roboto";
  text-align: right;
  color: #2e0245;
}

section.sponsors .ico {
  font: 400 15px / 26px "Roboto";
  margin-right: 3px;
}

section.sponsors .ico svg,
section.sponsors .ico path {
  fill: #ce3762;
}

section.sponsors a:hover .link {
  text-decoration: underline;
  color: #7b2e8c;
}

section.sponsors a:hover .ico svg,
section.sponsors a:hover .ico path {
  fill: #7b2e8c;
}

section.sponsors .img-justify div {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

section.sponsors .img-justify div:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

section.sponsors .img-justify div > * {
  display: inline-block;
  vertical-align: top;
}

section.sponsors .img-justify div img {
  font: 400 14px/normal "Roboto";
  display: inline-block;
  margin-top: 20px;
  text-align: left;
  vertical-align: middle;
}

footer {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  padding: 25px;
  background: #570c53;
}

footer:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

footer > * {
  display: inline-block;
  vertical-align: top;
}

footer > * {
  position: relative;
  height: 135px;
  text-align: left;
  text-align-last: left;
}

footer .copyright {
  width: 240px;
}

footer .copyright div {
  font: 500 14px / 15px "Roboto";
  position: absolute;
  left: 0;
  text-align: left;
  color: #fff;
}

footer .copyright div:first-child {
  top: 0;
}

footer .copyright div:last-child {
  bottom: 0;
}

footer .links,
footer .social {
  margin-bottom: -15px;
}

footer .links a,
footer .social a {
  font: 500 14px / 15px "Roboto";
  display: block;
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
}

footer .links a:hover,
footer .social a:hover {
  text-decoration: underline;
}

footer .social a {
  padding-left: 29px;
}

footer .social .fb {
  background: url(../../svg/social-ico-footer/fb.svg) no-repeat left center;
}

footer .social .vk {
  background: url(../../svg/social-ico-footer/vk.svg) no-repeat left center;
}

footer .social .tw {
  background: url(../../svg/social-ico-footer/tw.svg) no-repeat left center;
}

footer .social .yt {
  background: url(../../svg/social-ico-footer/yt.svg) no-repeat left center;
}

footer .social .tg {
  background: url(../../svg/social-ico-footer/tg.svg) no-repeat left center;
}

footer .organizers {
  width: 234px;
}

footer .organizers .title {
  font: 600 17px / 20px "Roboto";
  margin-bottom: 15px;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
}

footer .organizers .logos {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

footer .organizers .logos:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

footer .organizers .logos > * {
  display: inline-block;
  vertical-align: bottom;
}

footer .organizers .logos a {
  width: 112px;
  height: 100px;
  text-align: left;
  text-align-last: left;
  background: url(../../img/sprite/logos-footer.jpg) no-repeat;
}

footer .organizers .logos .fguild {
  background-position: 0 -100px;
}

footer .organizers .logos .sapfir {
  background-position: 0 0;
}

.unslider {
  position: relative;
  overflow: auto;
}

.unslider-wrap {
  position: relative;
  height: 355px;
}

.unslider-fade {
  position: relative;
}

.unslider-active {
  z-index: 10 !important;
}

.unslider-wrap li {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
}

.unslider-wrap a {
  width: 630px;
  height: 355px;
  display: block;
}

.unslider-wrap .slide-img-text {
  font: 0/0 a;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.unslider-wrap .slide-img-text span {
  font: 400 16px / 14px "Roboto";
  display: inline-block;
  padding: 5px 7px;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.unslider-nav ol {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 28px;
  z-index: 15;
  text-align: center;
}

.unslider-nav ol li {
  font: 0/0 a;
  width: 28px;
  height: 28px;
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  cursor: pointer;
  transition: all .3s ease;
  vertical-align: bottom;
  background: transparent;
  box-shadow: inset 0 0 0 3px #570c53;
}

.unslider-nav ol li:hover {
  box-shadow: inset 0 0 0 3px #691d70;
}

.unslider-nav ol li.unslider-active:hover {
  box-shadow: inset 0 0 0 3px #570c53;
}

.unslider-nav ol li:before {
  width: 0;
  height: 0;
  display: block;
  margin: 14px;
  content: '';
  background: transparent;
}

.unslider-nav ol li.unslider-active:before {
  width: 16px;
  height: 16px;
  display: block;
  margin: 6px;
  content: '';
  background: #570c53;
}

.main-page .title-preview {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  position: relative;
  height: 24px;
  margin: 30px 0;
}

.main-page .title-preview:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.main-page .title-preview > * {
  display: inline-block;
  vertical-align: top;
}

.main-page .title-preview div, .main-page .title-preview a {
  height: 24px;
  text-align: left;
  text-align-last: left;
}

.main-page .title-preview div {
  font: 600 32px / 24px "Roboto";
  text-transform: uppercase;
}

.main-page .title-preview a span {
  display: inline-block;
  vertical-align: middle;
}

.main-page .link {
  font: 400 13px / 24px "Roboto";
  text-align: right;
  color: #2e0245;
}

.main-page .ico {
  font: 400 15px / 24px "Roboto";
  margin-right: 3px;
}

.main-page .ico svg, .main-page .ico path {
  fill: #ce3762;
}

.main-page a:hover .link {
  text-decoration: underline;
  color: #7b2e8c;
}

.main-page a:hover .ico svg, .main-page a:hover .ico path {
  fill: #7b2e8c;
}

.main-page .news .elem {
  font: 0/0 a;
  margin: 0 -30px -15px 0;
}

.main-page .news .elem a {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 30px 15px 0;
}

.main-page .news .elem a .img {
  width: 300px;
  height: 169px;
  position: relative;
  margin-bottom: 10px;
}

.main-page .news .elem a .img img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-page .news .elem a .img .title {
  width: 100%;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(87, 12, 83, 0.55);
}

.main-page .news .elem a .img .title .category {
  font: 500 13px / 14px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 185px;
  height: 14px;
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
  color: #fff;
}

.main-page .news .elem a .img .title .data {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
}

.main-page .news .elem a .img .title .data span {
  font: 500 13px / 14px "Roboto";
  display: inline-block;
  vertical-align: middle;
  height: 14px;
}

.main-page .news .elem a .img .title .data .text {
  margin-left: 3px;
  text-align: right;
  color: #fff;
}

.main-page .news .elem a .img .title .data .ico {
  width: 13px;
}

.main-page .news .elem a .img .title .data .ico svg, .main-page .news .elem a .img .title .data .ico path {
  fill: #fff;
}

.main-page .news .elem a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-transform: uppercase;
}

.main-page .news .elem a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.main-page .news .elem a:hover .caption {
  text-decoration: underline;
}

.main-page .gallery .photo {
  font: 0/0 a;
  margin: 0 -15px -15px 0;
}

.main-page .gallery .photo .photo-preview {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
}

.main-page .gallery .photo .photo-preview img {
  z-index: 5;
}

.main-page .gallery .photo .photo-preview span {
  font: 500 16px / 18px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 15;
  display: block;
  width: 90%;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  color: transparent;
}

.main-page .gallery .photo .photo-preview:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  content: '';
  background: transparent;
}

.main-page .gallery .photo .photo-preview:hover span {
  color: #fff;
}

.main-page .gallery .photo .photo-preview:hover img {
  filter: blur(7px);
}

.main-page .gallery .photo .photo-preview:hover:before {
  background: rgba(87, 12, 83, 0.75);
}

.main-page .spoiler {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  border: 3px solid #570c53;
}

.main-page .spoiler.open .spoiler-content {
  display: block !important;
}

.main-page .spoiler.open .ico-drop {
  transform: rotate(180deg);
}

.main-page .spoiler.close .spoiler-content {
  display: none !important;
}

.main-page .spoiler.close .ico-drop {
  transform: rotate(0deg);
}

.main-page .spoiler .title {
  cursor: pointer;
}

.main-page .spoiler .title span {
  font: 700 15px / 18px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.main-page .spoiler .ico-drop {
  position: absolute;
  top: 14px;
  right: 14px;
}

.main-page .spoiler .information {
  font: 400 14px / 16px "Roboto";
  margin: 20px 0;
  text-align: justify;
}

.main-page .spoiler .girls-fin {
  font: 0/0 a;
  margin: 0 -14px -20px 0;
}

.main-page .spoiler .girls-fin > div {
  width: 285px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 0 14px 20px 0;
}

.main-page .spoiler .girls-fin .photo {
  width: 112px;
  height: 150px;
}

.main-page .spoiler .girls-fin .miss-data {
  width: 173px;
  margin: 15px 0;
}

.main-page .spoiler .name {
  width: 95%;
  margin: 0 auto;
}

.main-page .spoiler .name div {
  font: 500 16px / 19px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.main-page .spoiler .code, .main-page .spoiler .votes {
  font: 0/0 a;
  width: 120px;
  margin: 10px auto 0 auto;
}

.main-page .spoiler .code div, .main-page .spoiler .votes div {
  display: inline-block;
}

.main-page .spoiler .left, .main-page .spoiler .right {
  font: 400 13px / 30px "Roboto";
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.main-page .spoiler .left {
  font-style: italic;
  margin-right: 10px;
  background: #f4f4f4;
}

.main-page .spoiler .right {
  font-weight: 700;
  color: #fff;
  background: #570c53;
}

.main-page .spoiler .code .left {
  width: 41px;
}

.main-page .spoiler .code .right {
  width: 69px;
}

.main-page .spoiler .votes .left {
  width: 72px;
}

.main-page .spoiler .votes .right {
  width: 38px;
}

.article-share {
  font: 0/0 a;
  width: 100%;
  height: 40px;
  padding: 8px 0;
  text-align: left;
  background: #f4f4f4;
}

.article-share > span {
  font: 500 18px / 24px "Roboto";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.article-share > div {
  margin-right: 8px;
}

.article-more a {
  font: 0/0 a;
  display: block;
}

.article-more a {
  margin-bottom: 7px;
}

.article-more a:last-child {
  margin-bottom: 0;
}

.article-more span {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-align-last: left;
}

.article-more span:first-child {
  font: 400 14px / 16px "Roboto";
  width: 90px;
  height: 16px;
  font-style: italic;
  margin-right: 30px;
  color: #969696;
}

.article-more span:last-child {
  font: 400 14px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 510px;
}

.article-more a:hover span {
  text-decoration: underline;
}

.catalog h3 {
  margin-bottom: 20px;
}

.catalog .news {
  font: 0/0 a;
  margin: 0 -30px 15px 0;
}

.catalog .news a {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 30px 15px 0;
}

.catalog .news a .img {
  width: 300px;
  height: 169px;
  position: relative;
  margin-bottom: 10px;
}

.catalog .news a .img img {
  width: 100%;
  height: 100%;
  display: block;
}

.catalog .news a .img .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background: rgba(87, 12, 83, 0.55);
}

.catalog .news a .img .title .category {
  font: 500 13px / 14px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 185px;
  height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.catalog .news a .img .title .data {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
}

.catalog .news a .img .title .data span {
  font: 500 13px / 14px "Roboto";
  display: inline-block;
  vertical-align: middle;
  height: 14px;
}

.catalog .news a .img .title .data .text {
  margin-left: 3px;
  text-align: right;
  color: #fff;
}

.catalog .news a .img .title .data .ico {
  width: 13px;
}

.catalog .news a .img .title .data .ico svg, .catalog .news a .img .title .data .ico path {
  fill: #fff;
}

.catalog .news a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-transform: uppercase;
}

.catalog .news a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.catalog .news a:hover .caption {
  text-decoration: underline;
}

.catalog .interview {
  font: 0/0 a;
  margin-right: -30px;
}

.catalog .interview a {
  font: 0/0 a;
  width: 300px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 30px 0;
}

.catalog .interview a:hover {
  background: #efefef;
}

.catalog .interview a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .interview a img {
  width: 128px;
  height: 160px;
  margin: 0;
}

.catalog .interview a .info {
  width: 172px;
  height: 160px;
  overflow: hidden;
  padding: 5px 5px 5px 10px;
}

.catalog .interview a .info .name {
  font: 500 14px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 14px;
}

.catalog .interview a .info .quote {
  font: 400 13px / 15px "Roboto";
  height: 120px;
  letter-spacing: 0.13px;
}

.catalog .blogs a {
  font: 0/0 a;
  width: 100%;
  height: 80px;
  display: block;
  margin-bottom: 30px;
}

.catalog .blogs a:hover {
  background: #efefef;
}

.catalog .blogs a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .blogs a img {
  width: 80px;
  height: 80px;
}

.catalog .blogs a div {
  width: 550px;
  height: 80px;
  padding: 10px 0 10px 10px;
}

.catalog .blogs a div span {
  display: block;
  margin-bottom: 6px;
}

.catalog .blogs a div .title {
  font: 500 16px / 19px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.catalog .blogs a div .name, .catalog .blogs a div .data {
  font: 400 13px / 15px "Roboto";
  height: 15px;
  padding-left: 18px;
  text-align: left;
}

.catalog .blogs a div .name {
  background: url(../../svg/pink-ico/pen.svg) no-repeat left center;
}

.catalog .blogs a div .data {
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.catalog .press {
  margin-bottom: 30px;
}

.catalog .press a {
  font: 0/0 a;
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.catalog .press a:hover div {
  text-decoration: underline;
}

.catalog .press a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .press a img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 1px solid #969696;
}

.catalog .press a div {
  font: 400 14px / 16px "Roboto";
  width: 598px;
  max-height: 36px;
  padding-top: 3px;
}

.catalog .press a div .data {
  font: 400 12px / 16px "Roboto";
  color: #969696;
}

.container-e404 {
  min-height: 100%;
}

.container-e404 .e404 {
  width: 480px;
  height: 383px;
  margin: 60px auto;
  padding-top: 85px;
  background: url(../../img/common/404.jpg) no-repeat center center;
}

.container-e404 .e404 .title {
  font: 400 19px / 23px "Roboto";
  margin-bottom: 20px;
  text-align: center;
}

.container-e404 .e404 .description {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 30px;
  text-align: center;
}

.container-e404 .e404 .search-module {
  width: 380px;
  margin: 0 auto;
}

.contacts > * {
  margin-bottom: 20px;
}

.contacts > *:last-child {
  margin-bottom: 0;
}

.contacts .method {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  height: 50px;
  padding: 9px 40px;
  background: #f4f4f4;
}

.contacts .method:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.contacts .method > * {
  display: inline-block;
  vertical-align: top;
}

.contacts .method * {
  text-align: left;
  text-align-last: left;
}

.contacts .method .phone .ico,
.contacts .method .email .ico {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 50%;
  background: url(../../img/sprite/icons-contacts.jpg);
}

.contacts .method .phone .ico {
  background-position: 0 0;
}

.contacts .method .email .ico {
  background-position: 0 -32px;
}

.contacts .method .phone .text,
.contacts .method .email .text {
  font: 400 23px / 32px "Open Sans";
  text-transform: uppercase;
}

.contacts .method .phone .text:hover,
.contacts .method .email .text:hover {
  text-decoration: underline;
}

.contacts .member div,
.contacts .workplace div {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 3px;
}

.contacts .member .title,
.contacts .workplace .title {
  font-weight: 500;
}

.contacts .member a,
.contacts .workplace a {
  color: #570c53;
}

.contacts .member a {
  margin-left: 5px;
}

.contacts .member a:hover,
.contacts .workplace a:hover {
  text-decoration: underline;
}

.unsubscribe > * {
  margin-bottom: 20px;
}

.unsubscribe > *:last-child {
  margin-bottom: 0;
}

.unsubscribe form .w260 {
  width: 260px;
}

.vote > * {
  margin-bottom: 20px;
}

.vote > *:last-child {
  margin-bottom: 0;
}

.vote .preview {
  font: 0/0 a;
  text-align: justify;
}

.vote .preview img {
  margin-right: 25px;
}

.vote .preview span {
  font: 400 14px / 20px "Open Sans";
}

.vote .candidacies {
  font: 0/0 a;
  margin: 20px -30px 0 0;
}

.vote .candidacies .candidate {
  width: 300px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 20px 0;
}

.vote .candidacies .candidate .image,
.vote .candidacies .candidate .info {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.vote .candidacies .candidate .image {
  width: 128px;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}

.vote .candidacies .candidate .image img {
  width: 128px;
  height: 160px;
  z-index: 5;
}

.vote .candidacies .candidate .image:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 10;
  content: '';
  background: transparent;
}

.vote .candidacies .candidate .image .more-info {
  font: 500 14px / 16px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 15;
  text-align: center;
  color: transparent;
}

.vote .candidacies .candidate .image:hover img {
  filter: blur(7px);
}

.vote .candidacies .candidate .image:hover:before {
  background: rgba(87, 12, 83, 0.75);
}

.vote .candidacies .candidate .image:hover .more-info {
  color: #fff;
}

.vote .candidacies .candidate .image .voted-ico {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 6px;
  left: 6px;
  z-index: 20;
  border-radius: 50%;
  background: url(../../img/common/voted.jpg) no-repeat;
}

.vote .candidacies .candidate .info {
  width: 172px;
  height: 160px;
  padding: 5px 10px;
}

.vote .candidacies .candidate .info .name,
.vote .candidacies .candidate .info .post {
  display: block;
}

.vote .candidacies .candidate .info .name {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 10px;
  text-align: left;
}

.vote .candidacies .candidate .info .post {
  font: 400 12px / 15px "Roboto";
  height: 75px;
  letter-spacing: .12px;
}

.vote .candidacies .candidate .info .votes {
  font: 500 14px / 16px "Roboto";
  width: 152px;
  height: 16px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  letter-spacing: .14px;
}

.vote .candidacies .candidate .info .vote-btn {
  font: 400 12px / 30px "Roboto";
  width: 152px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.vote .candidacies .candidate .info .vote-btn.active {
  background: #7b2e8c;
}

.vote .candidacies .candidate .info .vote-btn:hover {
  background: #691d70;
}

.calendar > * {
  margin-bottom: 20px;
}

.calendar > *:last-child {
  margin-bottom: 0;
}

.calendar .events a {
  font: 0/0 a;
  margin-bottom: 20px;
  display: block;
  padding: 6px;
}

.calendar .events a:nth-child(even) {
  background: #f9f9f9;
}

.calendar .events a:hover {
  background: #efefef;
}

.calendar .events a img,
.calendar .events a .title {
  margin-bottom: 6px;
}

.calendar .events a .title {
  font: 500 16px / 19px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.calendar .events a .info span {
  font: 400 13px / 15px "Roboto";
  display: inline-block;
  margin-right: 15px;
  padding-left: 16px;
}

.calendar .events a .info .data {
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.calendar .events a .info .place {
  background: url(../../svg/pink-ico/place.svg) no-repeat left center;
}

.calendar .events a .info .company {
  background: url(../../svg/pink-ico/company.svg) no-repeat left center;
}

.event-reg .group {
  width: 260px;
}

.photo-gallery .albums {
  font: 0/0 a;
  margin-right: -30px;
  text-align: left;
}

.photo-gallery .albums a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 30px 30px 0;
}

.photo-gallery .albums a img {
  width: 300px;
  height: 300px;
  z-index: 5;
}

.photo-gallery .albums a:before {
  width: 300px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  content: '';
  background: rgba(87, 12, 83, 0.75);
}

.photo-gallery .albums a span {
  font: 500 13px / 15px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: block;
  width: 300px;
  padding: 10px;
  color: #fff;
}

.photo-gallery .albums a:hover img {
  filter: blur(7px);
}

.photo-gallery .albums a:hover:before {
  height: 300px;
}

.photo-gallery .albums a:hover span {
  font: 500 16px / 19px "Roboto";
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  padding: 40px;
  text-align: center;
}

.photo-gallery > * {
  margin-bottom: 20px;
}

.photo-gallery > *:last-child {
  margin-bottom: 0;
}

.photo-gallery .photo {
  font: 0/0 a;
  width: 100%;
  margin-bottom: -20px;
}

.photo-gallery .photo .grid-item {
  width: 176px;
  height: 176px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-gallery .photo .grid-item--width2 {
  width: 372px;
}

.photo-gallery .photo .grid-item--height2 {
  height: 372px;
}

.photo-gallery .photo .grid-item:before {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  content: '';
  opacity: 0;
  background: rgba(87, 12, 83, 0.75);
}

.photo-gallery .photo .grid-item:after {
  font: 500 16px / 19px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 150px;
  height: 57px;
  z-index: 15;
  display: block;
  text-align: center;
  color: transparent;
  content: 'Нажмите для полноэкранного просмотра';
}

.photo-gallery .photo .grid-item:hover img {
  filter: blur(7px);
}

.photo-gallery .photo .grid-item:hover:before {
  opacity: 1;
}

.photo-gallery .photo .grid-item:hover:after {
  color: #fff;
}

.loading {
  height: 10px;
  margin-top: 30px;
  position: relative;
}

.loading .center {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  display: inline-block;
}

.loading .center span {
  width: 10px;
  height: 10px;
  display: inline-block;
  opacity: .15;
  margin: 0 3px;
  border-radius: 50%;
  background: #2d2630;
}

.loading .center .ellips1 {
  animation: ellips-a 1s linear 0s infinite;
}

.loading .center .ellips2 {
  animation: ellips-b 1s linear 0s infinite;
}

.loading .center .ellips3 {
  animation: ellips-c 1s linear 0s infinite;
}

@keyframes ellips-a {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .65;
  }
  50% {
    opacity: .15;
  }
  75% {
    opacity: .15;
  }
  100% {
    opacity: .15;
  }
}

@keyframes ellips-b {
  0% {
    opacity: .15;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .65;
  }
  75% {
    opacity: .15;
  }
  100% {
    opacity: .15;
  }
}

@keyframes ellips-c {
  0% {
    opacity: .15;
  }
  25% {
    opacity: .15;
  }
  50% {
    opacity: .25;
  }
  75% {
    opacity: .65;
  }
  100% {
    opacity: .15;
  }
}

.video-gallery {
  font: 0/0 a;
}

.video-gallery > * {
  margin-bottom: 20px;
}

.video-gallery > *:last-child {
  margin-bottom: 0;
}

.video-gallery .videos {
  margin: 0 -30px 15px 0;
}

.video-gallery .videos a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 300px;
  margin: 0 30px 15px 0;
}

.video-gallery .videos a:before {
  width: 300px;
  height: 169px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: transparent;
}

.video-gallery .videos a img {
  width: 300px;
  height: 169px;
  margin-bottom: 10px;
}

.video-gallery .videos a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.video-gallery .videos a:hover:before {
  background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, 0.35);
}

.video-gallery .videos a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.video-gallery .videos a:hover .caption {
  text-decoration: underline;
}

.registration {
  position: relative;
}

.registration form > * {
  margin-bottom: 20px;
}

.registration form > *:last-child {
  margin-bottom: 0;
}

.registration form .info-pri .group-ver,
.registration form .info-sec .group-ver {
  width: 480px;
}

.registration form .info-pri .group-ver .label,
.registration form .info-sec .group-ver .label {
  margin-right: 0;
  width: 180px;
}

.registration form .info-pri .group-ver .text-input,
.registration form .info-sec .group-ver .text-input {
  width: 300px;
}

.registration .fast {
  width: 102px;
  height: 470px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../img/common/ribbon.jpg) no-repeat center center;
}

.registration .fast > * {
  margin-bottom: 10px;
}

.registration .fast > *:last-child {
  margin-bottom: 0;
}

.registration .fast .title {
  width: 90px;
  height: 38px;
  font: 500 14px / 19px "Roboto";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  color: #fff;
}

.registration .fast a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
  background: url(../../img/sprite/social2.jpg) no-repeat;
}

.registration .fast a.fb {
  background-position: 0 0;
}

.registration .fast a.vk {
  background-position: 0 -44px;
}

.registration .fast a.gp {
  background-position: 0 -88px;
}

.registration .fast a.ya {
  background-position: 0 -132px;
}

.registration .fast a.mr {
  background-position: 0 -176px;
}

.registration .fast a.lin {
  background-position: 0 -220px;
}

.verification.page1 > *, .verification.page2 > *, .verification.page3 > * {
  margin-bottom: 20px;
}

.verification.page1 > *:last-child, .verification.page2 > *:last-child, .verification.page3 > *:last-child {
  margin-bottom: 0;
}

.verification.page1 .group > *, .verification.page2 .group > *, .verification.page3 .group > * {
  display: inline-block;
  vertical-align: top;
}

.verification.page1 .group > *, .verification.page2 .group > *, .verification.page3 .group > * {
  margin-right: 30px;
}

.verification.page1 .group > *:last-child, .verification.page2 .group > *:last-child, .verification.page3 .group > *:last-child {
  margin-right: 0;
}

.verification.page1 .group .phone-select, .verification.page2 .group .phone-select, .verification.page3 .group .phone-select {
  width: 270px;
  position: relative;
}

.verification.page1 .group .phone-select .step, .verification.page2 .group .phone-select .step, .verification.page3 .group .phone-select .step {
  width: 56px;
  height: 14px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  font: 400 12px / 14px "Roboto";
  display: block;
  font-style: italic;
  color: #969696;
}

.verification.page2 > * {
  text-align: center;
}

.verification.page2 > * {
  margin-bottom: 20px;
}

.verification.page2 > *:last-child {
  margin-bottom: 0;
}

.verification.page2 .group .code-group {
  width: 260px;
  position: relative;
}

.verification.page2 .group .code-group .step {
  width: 56px;
  height: 14px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  font: 400 12px / 14px "Roboto";
  display: block;
  font-style: italic;
  color: #969696;
}

.verification.page3 > * {
  text-align: center;
}

.verification.page3 > * {
  margin-bottom: 20px;
}

.verification.page3 > *:last-child {
  margin-bottom: 0;
}

.verification.page3 a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 50px;
  font: 400 20px / 50px "Roboto";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.verification.page3 a:hover {
  background: #691d70;
}

.profile-view > * {
  margin-bottom: 10px;
}

.profile-view > *:last-child {
  margin-bottom: 0;
}

.profile-view .info {
  font: 0/0 a;
}

.profile-view .info .left,
.profile-view .info .right {
  display: inline-block;
  vertical-align: top;
}

.profile-view .info .left {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.profile-view .info .right {
  width: 470px;
  height: 150px;
  position: relative;
}

.profile-view .info .right .name {
  width: 440px;
  height: 24px;
  font: 700 20px / 24px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.profile-view .info .right hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #d8d8d8;
}

.profile-view .info .right .company,
.profile-view .info .right .job,
.profile-view .info .right .city {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 3px;
}

.profile-view .info .right .settings {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  opacity: .15;
  background: url(../../svg/ui/settings.svg) no-repeat center center;
}

.profile-view .info .right .settings:hover {
  opacity: .35;
}

.profile-view .content-info .left {
  width: 150px;
}

.profile-view .content-info .right {
  width: 480px;
}

.profile-edit form > * {
  margin-bottom: 70px;
}

.profile-edit form > *:last-child {
  margin-bottom: 0;
}

.profile-edit form .group > * {
  margin-bottom: 10px;
}

.profile-edit form .group > *:last-child {
  margin-bottom: 0;
}

.profile-edit form .group p {
  margin-bottom: 20px;
}

.profile-edit form .group .group-ver {
  margin-bottom: 10px;
}

.profile-edit form .group .group-ver:last-child {
  margin-bottom: 0;
}

.profile-edit form .group .blocks {
  font: 0/0 a;
}

.profile-edit form .group .blocks .left,
.profile-edit form .group .blocks .right {
  display: inline-block;
  vertical-align: top;
}

.profile-edit form .group .blocks .left {
  width: 450px;
  margin-right: 30px;
}

.profile-edit form .group .blocks .left .label {
  width: 140px;
  margin-right: 10px;
}

.profile-edit form .group .blocks .left .text-input {
  width: 300px;
}

.profile-edit form .group .blocks .right {
  width: 150px;
}

.profile-edit form .group .blocks .right .image-upload {
  width: 150px;
  height: 150px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.profile-edit form .group .blocks .right .image-upload input {
  display: none;
}

.profile-edit form .group .blocks .right .image-upload:before {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  content: '';
  opacity: 0;
  background: rgba(87, 12, 83, 0.75);
}

.profile-edit form .group .blocks .right .image-upload:after {
  font: 500 16px / 19px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 150px;
  height: 38px;
  z-index: 15;
  display: block;
  text-align: center;
  color: transparent;
  content: 'ОБНОВИТЬ ФОТО ПРОФИЛЯ';
}

.profile-edit form .group .blocks .right .image-upload:hover img {
  filter: blur(7px);
}

.profile-edit form .group .blocks .right .image-upload:hover:before {
  opacity: 1;
}

.profile-edit form .group .blocks .right .image-upload:hover:after {
  color: #fff;
}

.profile-edit form .group .plus .text-input {
  width: 270px !important;
}

.profile-edit form .group .plus a {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  opacity: .75;
  background: url(../../svg/ui/phone-plus.svg) no-repeat center center;
}

.profile-edit form .group .plus a:hover {
  opacity: 1;
}
