.group {
  font: 0/0 a;
  position: relative;
}

.group {
  margin-bottom: 20px;
}

.group:last-child {
  margin-bottom: 0;
}

.group .label {
  font: 500 15px / 16px "Roboto";
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.group.mb10 > * {
  margin-bottom: 10px;
}

.group.mb10 > *:last-child {
  margin-bottom: 0;
}

.group.mb20 > * {
  margin-bottom: 20px;
}

.group.mb20 > *:last-child {
  margin-bottom: 0;
}

.group-ver {
  font: 0/0 a;
  position: relative;
}

.group-ver {
  margin-bottom: 20px;
}

.group-ver:last-child {
  margin-bottom: 0;
}

.group-ver > * {
  display: inline-block !important;
  vertical-align: middle;
}

.group-ver .label {
  font: 400 15px / 16px "Roboto";
  width: calc(20% - 20px);
  margin-right: 20px;
  margin-bottom: 0;
}

.group-ver input {
  width: 80%;
}

.btn-ps,
.btn-pb {
  font-family: 'Roboto';
  display: block;
  padding: 0 20px;
  cursor: pointer;
  text-align: center;
}

.btn-ps,
.btn-pb {
  color: #fff !important;
  border: 0;
  background: #570c53;
}

.btn-pb {
  text-transform: uppercase;
}

.btn-ps:hover,
.btn-pb:hover {
  background: #691d70;
}

.btn-ps:disabled,
.btn-pb:disabled {
  background: #969696 !important;
}

.btn-ps.big,
.btn-pb.big {
  font-size: 20px;
  height: 50px;
}

.btn-ps.normal,
.btn-pb.normal {
  font-size: 16px;
  height: 40px;
}

.btn-ps.little,
.btn-pb.little {
  font-size: 13px;
  height: 30px;
}

.btn-more {
  font: 400 16px / 50px "Roboto";
  width: 100%;
  height: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background: #f9f9f9;
}

.btn-more:hover {
  background: #d8d8d8;
}

.btn-left,
.btn-right,
.btn-center,
.btn-justify {
  font: 0/0 a;
}

.btn-left input,
.btn-right input,
.btn-center input,
.btn-justify input {
  display: inline-block;
  margin-bottom: 0 !important;
}

.btn-left input,
.btn-right input,
.btn-center input {
  margin-right: 10px;
}

.btn-left input:last-child,
.btn-right input:last-child,
.btn-center input:last-child {
  margin-right: 0;
}

.btn-left {
  text-align: left !important;
}

.btn-right {
  text-align: right !important;
}

.btn-center {
  text-align: center !important;
}

.btn-justify {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
}

.btn-justify:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.btn-justify > * {
  display: inline-block;
  vertical-align: top;
}

.btn-fluid input {
  width: 100%;
  padding: 0;
}

.radio,
.checkbox {
  position: relative;
  display: block;
}

.radio,
.checkbox {
  margin-bottom: 5px;
}

.radio:last-child,
.checkbox:last-child {
  margin-bottom: 0;
}

.radio label,
.checkbox label {
  font: 0/0 a;
  display: block;
  cursor: pointer;
  text-align: left;
}

.radio label *,
.checkbox label * {
  display: inline-block;
  vertical-align: top;
}

.radio label input,
.checkbox label input {
  display: none;
}

.radio label div,
.checkbox label div {
  position: relative;
  transition: box-shadow .3s ease-in-out;
  background: #fff;
  box-shadow: inset 0 0 0 3px #570c53;
}

.radio.big label span,
.checkbox.big label span {
  font: 400 16px / 32px "Roboto";
}

.radio.big label div,
.checkbox.big label div {
  width: 32px;
  height: 32px;
  margin-right: 7px;
}

.radio.normal label span,
.checkbox.normal label span {
  font: 400 14px / 28px "Roboto";
}

.radio.normal label div,
.checkbox.normal label div {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

.radio.little label span,
.checkbox.little label span {
  font: 400 12px / 24px "Roboto";
}

.radio.little label div,
.checkbox.little label div {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.radio label div, .radio label div:before {
  border-radius: 50%;
}

.radio label input + div:before,
.checkbox label input + div:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  content: '';
  transition: height .2s linear, width .2s linear, background .3s linear;
  transform: translate(-50%, -50%);
  background: #fff;
}

.radio label input:checked + div:before,
.checkbox label input:checked + div:before {
  background: #570c53;
}

.radio.big label input:checked + div:before,
.checkbox.big label input:checked + div:before {
  width: 20px;
  height: 20px;
}

.radio.normal label input:checked + div:before,
.checkbox.normal label input:checked + div:before {
  width: 16px;
  height: 16px;
}

.radio.little label input:checked + div:before,
.checkbox.little label input:checked + div:before {
  width: 12px;
  height: 12px;
}

.radio label input:hover + div,
.checkbox label input:hover + div {
  box-shadow: inset 0 0 0 3px #691d70;
}

.radio label input:checked:hover + div,
.checkbox label input:checked:hover + div {
  box-shadow: inset 0 0 0 3px #7b2e8c;
}

.radio label input:checked:hover + div:before,
.checkbox label input:checked:hover + div:before {
  background: #7b2e8c;
}

.radio label input:disabled + div,
.radio label input:disabled:hover + div,
.checkbox label input:disabled + div,
.checkbox label input:disabled:hover + div {
  cursor: default !important;
  box-shadow: inset 0 0 0 3px #969696 !important;
}

.radio label input:disabled + div:before,
.radio label input:disabled:hover + div:before,
.checkbox label input:disabled + div:before,
.checkbox label input:disabled:hover + div:before {
  cursor: default !important;
  background: #969696 !important;
}

.text-input,
.text-area {
  font: 400 14px/normal "Roboto";
  display: block;
  width: 100%;
  resize: none;
  color: #2d2630;
  border: 1px solid #969696;
  background: #fff;
}

.text-input.normal {
  font-size: 15px;
  height: 40px;
  padding: 0 10px;
}

.text-input.little {
  font-size: 12px;
  height: 30px;
  padding: 0 8px;
}

.text-area.normal {
  font-size: 15px;
  height: 100px;
  padding: 10px;
}

.text-area.little {
  font-size: 12px;
  height: 60px;
  padding: 8px;
}

.text-input:hover, .text-input:focus,
.text-area:hover,
.text-area:focus {
  border-color: #2d2630;
}

.text-area:disabled, .text-area:disabled:hover {
  color: #969696 !important;
  border-color: #969696 !important;
}

.select {
  font: 400 14px / 100% "Roboto";
  overflow: hidden;
  color: #2d2630;
  border: 1px solid #969696;
}

.select.normal {
  font-size: 15px;
  height: 40px;
  background: url("../../img/ui/arrow-down2.png") no-repeat right center/40px 40px, #fff;
}

.select.little {
  font-size: 12px;
  height: 30px;
  background: url("../../img/ui/arrow-down1.png") no-repeat right center/30px 30px, #fff;
}

.select select {
  width: calc(100% + 80px);
  height: 100%;
  line-height: 100%;
  display: block;
  margin: 0;
  padding: 0 40px 0 10px;
  border: 0;
  background: transparent;
  appearance: none;
}

.select:hover, .select:focus {
  border-color: #2d2630;
}

.select.disabled:hover {
  border-color: #969696 !important;
}

.select.disabled select:disabled {
  color: #969696 !important;
}

.phone-select {
  font: 0/0 a;
}

.phone-select > * {
  display: inline-block;
  vertical-align: top;
}

.phone-select .select {
  margin-right: 10px;
}

.phone-select.normal {
  height: 40px;
}

.phone-select.normal .select {
  width: 100px;
}

.phone-select.normal .text-input {
  width: calc(100% - 110px);
}

.phone-select.little {
  height: 30px;
}

.phone-select.little .select {
  width: 80px;
}

.phone-select.little .text-input {
  width: calc(100% - 90px);
}

.file-input {
  display: table;
}

.file-input label {
  display: table-cell;
  width: 1%;
  max-width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.file-input label span {
  position: relative;
  display: block;
  margin: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 0;
  background: #2d2630;
  touch-action: manipulation;
}

.file-input label span [type='file'] {
  display: none;
}

.file-input.normal label span {
  font: 400 15px / 40px "Roboto";
  height: 40px;
  padding: 0 11px;
}

.file-input.little label span {
  font: 400 12px / 30px "Roboto";
  height: 30px;
  padding: 0 8px;
}

.file-input [type='text'] {
  cursor: default;
  display: block;
  width: 100%;
  padding: 0 10px;
  color: #2d2630;
  border: 1px solid #969696;
  border-right: 0;
  background: #fff;
}

.file-input:hover [type='text'] {
  border-color: #2d2630;
}

.file-input.normal [type='text'] {
  font-size: 15px;
  height: 40px;
}

.file-input.little [type='text'] {
  font-size: 12px;
  height: 30px;
}

.file-input.disabled label span {
  cursor: default;
  background: #969696;
}

.file-input.disabled [type='text'] {
  color: #969696;
  border-color: #969696;
}

.pagination {
  width: 630px;
  height: 40px;
  font: 0/0 a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination li a {
  font: 500 16px / 40px "Roboto";
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: top;
  color: #2d2630;
  background-color: #f4f4f4;
}

.pagination li a:hover {
  background-color: #d8d8d8;
}

.pagination li .first,
.pagination li .last {
  width: 100px;
}

.pagination li .first {
  margin-right: 14px;
}

.pagination li .last {
  margin-left: 14px;
}

.pagination li .page,
.pagination li .prev,
.pagination li .next {
  width: 40px;
  margin: 0 5px;
}

.pagination li .prev {
  background: url(../../svg/ui/pag-black-left.svg) no-repeat center center/12px 20px, #f4f4f4;
}

.pagination li .next {
  background: url(../../svg/ui/pag-black-right.svg) no-repeat center center/12px 20px, #f4f4f4;
}

.pagination li .page.active {
  background-color: #d8d8d8;
}

.pagination.year li .first {
  margin-right: 8px;
}

.pagination.year li .last {
  margin-left: 8px;
}

.pagination.year li .page {
  width: 59px;
}

.text-input.error, .text-input.success, .text-input.warning, .text-input:disabled {
  padding-right: 35px !important;
}

.text-input.error {
  border-color: #f44336;
}

.text-input.success {
  border-color: #62b965;
}

.text-input.warning {
  border-color: #fdd835;
}

.text-input:disabled {
  color: #969696 !important;
  border-color: #969696 !important;
}

.text-input + .ico {
  display: none;
}

.text-input.error + .ico,
.text-input.success + .ico,
.text-input.warning + .ico,
.text-input:disabled + .ico {
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}

.text-input.normal.error + .ico,
.text-input.normal.success + .ico,
.text-input.normal.warning + .ico,
.text-input.normal:disabled + .ico {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.text-input.little.error + .ico,
.text-input.little.success + .ico,
.text-input.little.warning + .ico,
.text-input.little:disabled + .ico {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.text-input.error + .ico,
.text-input.success + .ico,
.text-input.warning + .ico,
.text-input:disabled + .ico {
  background-image: url(../../img/sprite/icons-form.jpg);
}

.text-input.error + .ico {
  background-position: 0 -20px;
}

.text-input.success + .ico {
  background-position: 0 0;
}

.text-input.warning + .ico {
  background-position: 0 -40px;
}

.text-input:disabled + .ico {
  background-position: 0 -60px !important;
}

.text-input.error + .ico .msg,
.text-input.success + .ico .msg,
.text-input.warning + .ico .msg,
.text-input:disabled + .ico .msg {
  font: 400 13px / 15px "Roboto";
  position: absolute;
  z-index: 2;
  display: none;
  width: 445px;
  padding: 10px 16px;
  cursor: default;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.text-input.error + .ico .msg {
  border: 1px solid #f44336;
}

.text-input.success + .ico .msg {
  border: 1px solid #62b965;
}

.text-input.warning + .ico .msg {
  border: 1px solid #fdd835;
}

.text-input:disabled + .ico .msg {
  border: 1px solid #969696 !important;
}

.text-input.normal.error + .ico .msg,
.text-input.normal.success + .ico .msg,
.text-input.normal.warning + .ico .msg,
.text-input.normal:disabled + .ico .msg {
  position: absolute;
  right: -10px;
  bottom: 35px;
}

.text-input.little.error + .ico .msg,
.text-input.little.success + .ico .msg,
.text-input.little.warning + .ico .msg,
.text-input.little:disabled + .ico .msg {
  position: absolute;
  right: -5px;
  bottom: 30px;
}

.text-input.error + .ico .msg span {
  color: #f44336;
}

.text-input.success + .ico .msg span {
  color: #62b965;
}

.text-input.warning + .ico .msg span {
  color: #fdd835;
}

.text-input:disabled + .ico .msg span {
  color: #969696 !important;
}

.text-input.error + .ico .msg span,
.text-input.success + .ico .msg span,
.text-input.warning + .ico .msg span,
.text-input:disabled + .ico .msg span {
  font-weight: 600;
}

.text-input.error + .ico:hover .error {
  display: block;
}

.text-input.success + .ico:hover .success {
  display: block;
}

.text-input.warning + .ico:hover .warning {
  display: block;
}

.text-input:disabled + .ico:hover .disabled {
  display: block;
}
