* {
  font-family: "Roboto", sans-serif, Arial, Verdana;
  color: #2d2630;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  padding-top: 90px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../../img/bg/bg1.jpg) no-repeat top center;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.container {
  width: 1030px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 140px 15px rgba(0, 0, 0, 0.3);
}
