article > * {
  margin-bottom: 20px;
}

article > *:last-child {
  margin-bottom: 0;
}

hr {
  border-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  text-transform: uppercase;
}

h1 {
  font: 500 32px / 38px "Roboto";
}

h2 {
  font: 500 24px / 28px "Roboto";
}

h3 {
  font: 500 19px / 23px "Roboto";
}

h4 {
  font: 500 16px / 19px "Roboto";
}

h5 {
  font: 500 13px / 15px "Roboto";
}

h6 {
  font: 500 11px / 13px "Roboto";
}

p {
  font: 400 14px / 20px "Open Sans";
  text-align: justify;
}

p.gray,
p.gray * {
  color: #969696;
}

blockquote {
  font: 400 16px / 20px "Roboto";
  font-style: italic;
  text-align: justify;
  padding: 10px 0 10px 20px;
  border-left: 3px solid #7b2e8c;
}

article a {
  color: #570c53;
}

article a:hover {
  text-decoration: underline;
}

article > ol,
article > ul {
  padding-left: 17px;
}

article > ol {
  list-style: decimal;
}

article > ul {
  list-style: none;
}

article > ol > li,
article > ul > li {
  font: 400 14px / 22px "Open Sans";
  text-align: justify;
  padding-left: 10px;
  position: relative;
}

article > ul > li:before {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: -14px;
  border-radius: 50%;
  background: #7b2e8c;
  content: '';
}

.content-title {
  font: 400 14px/normal "Roboto";
}

.content-title hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #570c53;
}

.content-title span {
  font: 400 14px / 16px "Roboto";
  color: #969696;
}

article > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article .triple-img {
  font: 0/0 a;
  margin-right: -15px;
}

article .triple-img img {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 15px;
}

.img-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.img-text .text {
  font: 0/0 a;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.img-text span {
  font: 400 16px / 14px "Roboto";
  display: inline-block;
  padding: 5px 7px;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.content-info {
  font: 0/0 a;
  height: 40px;
  margin-bottom: 20px;
  background: #f4f4f4;
}

.content-info .left,
.content-info .right {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  text-align: center;
}

.content-info .left {
  font: 400 15px / 40px "Roboto";
  width: 230px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.content-info .left:hover {
  background: #691d70;
}

.content-info.disabled .left {
  cursor: default;
  background: #969696 !important;
}

.content-info .right {
  position: relative;
  width: 400px;
}

.content-info .right div {
  font: 400 11px / 13px "Roboto";
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  left: 0;
  font-style: italic;
  width: 100%;
  padding: 0 10px;
}
