@import ../constants
@import ../mixins

//
// Grouping
//

.group
  +font
  +margin(bottom, 20px)
  position: relative

  .label
    +font(15px, 16px, 500)
    display: block
    width: 100%
    margin-bottom: 5px

  &.mb10 > *
    +margin(bottom, 10px)

  &.mb20 > *
    +margin(bottom, 20px)

.group-ver
  +font
  +margin(bottom, 20px)
  position: relative

  > *
    display: inline-block $gg
    vertical-align: middle

  .label
    +font(15px, 16px)
    width: calc(20% - 20px)
    margin-right: 20px
    margin-bottom: 0

  input
    width: 80%

//
// Buttons
//

.btn-ps,
.btn-pb
  font-family: 'Roboto'
  display: block
  padding: 0 20px
  cursor: pointer
  text-align: center

.btn-ps,
.btn-pb
  color: #fff $gg
  border: 0
  background: $pri1

.btn-pb
  text-transform: uppercase

.btn-ps:hover,
.btn-pb:hover
  background: $pri2

.btn-ps:disabled,
.btn-pb:disabled
  background: $gray1 $gg

.btn-ps.big,
.btn-pb.big
  font-size: 20px
  height: 50px

.btn-ps.normal,
.btn-pb.normal
  font-size: 16px
  height: 40px

.btn-ps.little,
.btn-pb.little
  font-size: 13px
  height: 30px

.btn-more
  +font(16px, 50px)
  +size($w: 100%, $h: 50px)
  cursor: pointer
  text-align: center
  text-transform: uppercase
  background: #f9f9f9

.btn-more:hover
  background: $gray2

//
// Buttons align (horizontal)
//

.btn-left,
.btn-right,
.btn-center,
.btn-justify
  +font

.btn-left input,
.btn-right input,
.btn-center input,
.btn-justify input
  display: inline-block
  margin-bottom: 0 $gg

.btn-left input,
.btn-right input,
.btn-center input
  +margin(right, 10px)

.btn-left
  text-align: left $gg

.btn-right
  text-align: right $gg

.btn-center
  text-align: center $gg

.btn-justify
  +justify

.btn-fluid input
  width: 100%
  padding: 0

//
// Radio Buttons and Check Boxs
//

.radio,
.checkbox
  +margin(bottom, 5px)
  position: relative
  display: block

  label
    +font
    display: block
    cursor: pointer
    text-align: left

  label *
    display: inline-block
    vertical-align: top

  label input
    display: none

  label div
    position: relative
    transition: box-shadow .3s ease-in-out
    background: #fff
    box-shadow: inset 0 0 0 3px $pri1

  &.big label
    span
      +font(16px, 32px)
    div
      +size($box: 32px)
      margin-right: 7px

  &.normal label
    span
      +font(14px, 28px)
    div
      +size($box: 28px)
      margin-right: 6px

  &.little label
    span
      +font(12px, 24px)
    div
      +size($box: 24px)
      margin-right: 5px

.radio label div
  &, &:before
    border-radius: 50%

.radio,
.checkbox
  label input
    & + div:before
      +position($pos: absolute, $top: 50%, $left: 50%)
      +size($box: 0)
      content: ''
      transition: height .2s linear, width .2s linear, background .3s linear
      transform: translate(-50%, -50%)
      background: #fff
    &:checked + div:before
      background: $pri1

  &.big label input:checked + div:before
    +size($box: 20px)
  &.normal label input:checked + div:before
    +size($box: 16px)
  &.little label input:checked + div:before
    +size($box: 12px)

  label input
    &:hover + div
      box-shadow: inset 0 0 0 3px $pri2
    &:checked:hover
      + div
        box-shadow: inset 0 0 0 3px $pri3
      + div:before
        background: $pri3
    &:disabled
      & + div,
      &:hover + div
        cursor: default $gg
        box-shadow: inset 0 0 0 3px $gray1 $gg
      & + div:before,
      &:hover + div:before
        cursor: default $gg
        background: $gray1 $gg

//
// Input Text
//

.text-input,
.text-area
  +font(14px)
  display: block
  width: 100%
  resize: none
  color: $sec1
  border: 1px solid $gray1
  background: #fff

.text-input
  &.normal
    font-size: 15px
    height: 40px
    padding: 0 10px
  &.little
    font-size: 12px
    height: 30px
    padding: 0 8px

.text-area
  &.normal
    font-size: 15px
    height: 100px
    padding: 10px
  &.little
    font-size: 12px
    height: 60px
    padding: 8px

.text-input,
.text-area
  &:hover, &:focus
    border-color: $sec1

.text-area:disabled
  &, &:hover
    color: $gray1 $gg
    border-color: $gray1 $gg

//
// Select
//

.select
  +font(14px, 100%)
  overflow: hidden
  color: $sec1
  border: 1px solid $gray1

  &.normal
    font-size: 15px
    height: 40px
    background: url('../../img/ui/arrow-down2.png') no-repeat right center/40px 40px, #fff

  &.little
    font-size: 12px
    height: 30px
    background: url('../../img/ui/arrow-down1.png') no-repeat right center/30px 30px, #fff

  select
    +size($w: calc(100% + 80px), $h: 100%)
    line-height: 100%
    display: block
    margin: 0
    padding: 0 40px 0 10px
    border: 0
    background: transparent
    appearance: none

  &:hover, &:focus
    border-color: $sec1

  &.disabled
    &:hover
      border-color: $gray1 $gg
    select:disabled
      color: $gray1 $gg

//
// Select phone
//

.phone-select
  +font

  > *
    display: inline-block
    vertical-align: top

  .select
    margin-right: 10px

  &.normal
    height: 40px
    .select
      width: 100px
    .text-input
      width: calc(100% - 110px)

  &.little
    height: 30px
    .select
      width: 80px
    .text-input
      width: calc(100% - 90px)

//
// Upload File
//

.file-input
  display: table

  label
    display: table-cell
    width: 1%
    max-width: 100%
    margin-bottom: 0
    vertical-align: middle
    white-space: nowrap

    span
      position: relative
      display: block
      margin: 0
      cursor: pointer
      user-select: none
      text-align: center
      vertical-align: middle
      color: #fff
      border: 0
      background: $sec1
      touch-action: manipulation

      [type='file']
        display: none

  &.normal label span
    +font(15px, 40px)
    height: 40px
    padding: 0 11px

  &.little label span
    +font(12px, 30px)
    height: 30px
    padding: 0 8px

  [type='text']
    cursor: default
    display: block
    width: 100%
    padding: 0 10px
    color: $sec1
    border: 1px solid $gray1
    border-right: 0
    background: #fff

  &:hover [type='text']
    border-color: $sec1

  &.normal [type='text']
    font-size: 15px
    height: 40px

  &.little [type='text']
    font-size: 12px
    height: 30px

  &.disabled
    label span
      cursor: default
      background: $gray1
    [type='text']
      color: $gray1
      border-color: $gray1

//
// Pagination
//

.pagination
  +size($w: 630px, $h: 40px)
  +font
  display: block
  margin-left: auto
  margin-right: auto
  padding: 0

  li
    display: inline-block
    vertical-align: top

    a
      +font(16px, 40px, 500)
      display: inline-block
      height: 40px
      text-align: center
      vertical-align: top
      color: $sec1
      background-color: $gray4
      &:hover
        background-color: $gray2

    .first,
    .last
      width: 100px
    .first
      margin-right: 14px
    .last
      margin-left: 14px

    .page,
    .prev,
    .next
      width: 40px
      margin: 0 5px
    .prev
      background: url(../../svg/ui/pag-black-left.svg) no-repeat center center/12px 20px, $gray4
    .next
      background: url(../../svg/ui/pag-black-right.svg) no-repeat center center/12px 20px, $gray4
    .page.active
      background-color: $gray2

  &.year li
    .first
      margin-right: 8px
    .last
      margin-left: 8px
    .page
      width: 59px

//
// Validation
//

.text-input
  &.error,
  &.success,
  &.warning,
  &:disabled
    padding-right: 35px $gg

  &.error
    border-color: $error
  &.success
    border-color: $success
  &.warning
    border-color: $warning
  &:disabled
    color: $gray1 $gg
    border-color: $gray1 $gg

  + .ico
    display: none

  &.error + .ico,
  &.success + .ico,
  &.warning + .ico,
  &:disabled + .ico
    +size($box: 20px)
    display: block
    cursor: pointer

  &.normal
    &.error + .ico,
    &.success + .ico,
    &.warning + .ico,
    &:disabled + .ico
      +position($pos: absolute, $right: 10px, $bottom: 10px)

  &.little
    &.error + .ico,
    &.success + .ico,
    &.warning + .ico,
    &:disabled + .ico
      +position($pos: absolute, $right: 5px, $bottom: 5px)

  &.error + .ico,
  &.success + .ico,
  &.warning + .ico,
  &:disabled + .ico
    background-image: url(../../img/sprite/icons-form.jpg)

  &.error + .ico
    background-position: 0 -20px
  &.success + .ico
    background-position: 0 0
  &.warning + .ico
    background-position: 0 -40px
  &:disabled + .ico
    background-position: 0 -60px $gg

  &.error + .ico .msg,
  &.success + .ico .msg,
  &.warning + .ico .msg,
  &:disabled + .ico .msg
    +font(13px, 15px)
    position: absolute
    z-index: 2
    display: none
    width: 445px
    padding: 10px 16px
    cursor: default
    text-align: center
    border-radius: 5px
    background: #fff
    box-shadow: 0 0 6px rgba(0, 0, 0, .1)

  &.error + .ico .msg
    border: 1px solid $error
  &.success + .ico .msg
    border: 1px solid $success
  &.warning + .ico .msg
    border: 1px solid $warning
  &:disabled + .ico .msg
    border: 1px solid $gray1 $gg

  &.normal
    &.error + .ico .msg,
    &.success + .ico .msg,
    &.warning + .ico .msg,
    &:disabled + .ico .msg
      +position($right: -10px, $bottom: 35px)

  &.little
    &.error + .ico .msg,
    &.success + .ico .msg,
    &.warning + .ico .msg,
    &:disabled + .ico .msg
      +position($right: -5px, $bottom: 30px)

  &.error + .ico .msg span
    color: $error
  &.success + .ico .msg span
    color: $success
  &.warning + .ico .msg span
    color: $warning
  &:disabled + .ico .msg span
    color: $gray1 $gg

  &.error + .ico .msg span,
  &.success + .ico .msg span,
  &.warning + .ico .msg span,
  &:disabled + .ico .msg span
    font-weight: 600

  &.error + .ico:hover .error
    display: block
  &.success + .ico:hover .success
    display: block
  &.warning + .ico:hover .warning
    display: block
  &:disabled + .ico:hover .disabled
    display: block
