@import ../constants
@import ../mixins

*
  font-family: $font
  color: $sec1
  margin: 0
  padding: 0

//
// Document settings
//

html
  height: 100%
  padding-top: 90px

body
  +size($box: 100%)
  position: relative
  background: url(../../img/bg/bg1.jpg) no-repeat top center

//
// Small stuff
//

*,
*:after,
*:before
  box-sizing: border-box

*,
*:hover,
*:focus,
*:active
  outline: none $gg

.hide
  display: none $gg
.show
  display: block $gg

.text-left
  text-align: left $gg
.text-right
  text-align: right $gg
.text-center
  text-align: center $gg
.text-justify
  text-align: justify $gg

.pull-left
  float: left $gg
.pull-right
  float: right $gg

//
// Container
//

.container
  width: 1030px
  margin: 0 auto
  background: #fff
  box-shadow: 0 0 140px 15px rgba(0, 0, 0, .3)
