@import ../constants
@import ../mixins

//
// Child margin
//

article > *
  +margin(bottom, 20px)

//
// Separate
//

hr
  border-color: $gray4

//
// Title
//

h1, h2, h3, h4, h5, h6
  text-align: left
  text-transform: uppercase

h1
  +font(32px, 38px, 500)

h2
  +font(24px, 28px, 500)

h3
  +font(19px, 23px, 500)

h4
  +font(16px, 19px, 500)

h5
  +font(13px, 15px, 500)

h6
  +font(11px, 13px, 500)

//
// Paragraph, blockquote, link
//

p
  +font(14px, 20px, 400, 'Open Sans')
  text-align: justify

p.gray,
p.gray *
  color: #969696

blockquote
  +font(16px, 20px)
  font-style: italic
  text-align: justify
  padding: 10px 0 10px 20px
  border-left: 3px solid $pri3

article a
  color: $pri1

article a:hover
  text-decoration: underline

//
// Lists (bulleted and numbered)
//

article > ol,
article > ul
  padding-left: 17px

article > ol
  list-style: decimal

article > ul
  list-style: none

article > ol > li,
article > ul > li
  +font(14px, 22px, 400, 'Open Sans')
  text-align: justify
  padding-left: 10px
  position: relative

article > ul > li:before
  +size($box: 6px)
  +position($pos: absolute, $top: 8px, $left: -14px)
  border-radius: 50%
  background: $pri3
  content: ''

//
// Content title
//

.content-title
  +font(14px)
  hr
    margin-top: 10px
    margin-bottom: 10px
    border-color: $pri1
  span
    +font(14px, 16px)
    color: $gray1

//
// Images
//

article > img
  display: block
  margin-left: auto
  margin-right: auto

article .triple-img
  +font
  margin-right: -15px

article .triple-img img
  display: inline-block
  vertical-align: top
  width: 200px
  margin-right: 15px

//
// Image with text
//

.img-text
  display: block
  margin-left: auto
  margin-right: auto
  position: relative

.img-text .text
  +font
  +position($pos: absolute, $bottom: 25px, $left: 0)

.img-text span
  +font(16px, 14px)
  display: inline-block
  padding: 5px 7px
  text-transform: uppercase
  color: #fff
  background: $pri1

//
// Information block
//

.content-info
  +font
  height: 40px
  margin-bottom: 20px
  background: $gray4

  .left,
  .right
    display: inline-block
    vertical-align: top
    height: 40px
    text-align: center

  .left
    +font(15px, 40px)
    width: 230px
    cursor: pointer
    text-transform: uppercase
    color: #fff
    background: $pri1

  .left:hover
    background: $pri2

  &.disabled
    .left
      cursor: default
      background: $gray1 $gg

  .right
    position: relative
    width: 400px
    div
      +font(11px, 13px)
      +center(ver)
      left: 0
      font-style: italic
      width: 100%
      padding: 0 10px
