//
// Change the default font family in all browsers
// Prevent adjustments of font size after orientation changes in IE and iOS
// Remove gray highlight when tapping links in mobile iOS
//

html
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

//
// Remove the margin in all browsers
//

body
  margin: 0

//
// Add the correct display in Edge, IE, and Firefox
//

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary
  display: block

//
// Add the correct display in IE 9-
//

audio,
canvas,
progress,
video
  display: inline-block

//
// Add the correct display in iOS 4-7
//

audio:not([controls])
  display: none
  height: 0

//
// Add the correct vertical alignment in Chrome, Firefox, and Opera
//

progress
  vertical-align: baseline

//
// Add the correct display in IE
//

template,
[hidden]
  display: none

//
// Remove list style on all browsers
//

ul,
ol
  list-style: none

//
// Remove the gray background on active links in IE 10
//

a
  background-color: transparent

//
// Remove the outline on focused links in all browsers
//

a:hover,
a:active
  outline-width: 0

//
// Remove text decoration on all browsers
//

a,
a:hover,
a:focus
  text-decoration: none

//
// Remove the bottom border in Firefox 39-
// Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
//

abbr[title]
  border-bottom: none
  text-decoration: underline
  text-decoration: underline dotted

//
// Prevent the duplicate application of 'bolder' by the next rule in Safari 6
//

b,
strong
  font-weight: inherit

//
// Add the correct font weight in Chrome, Edge, and Safari
//

b,
strong
  font-weight: bolder

//
// Add the correct font style in Android 4.3-
//

dfn
  font-style: italic

//
// Correct the font size on 'h1' elements within 'section' and 'article' contexts in Chrome, Firefox, and Safari
//

h1
  font-size: 2em

//
// Add the correct background and color in IE 9-
//

mark
  background-color: #ff0
  color: #000

//
// Add the correct font size in all browsers
//

small
  font-size: 80%

//
// Prevent 'sub' and 'sup' elements from
// affecting the line height in all browsers
//

sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sub
  bottom: -0.25em

sup
  top: -0.5em

//
// Remove the border on images inside links in IE 10-
//

img
  border-style: none

//
// Hide the overflow in IE
//

svg:not(:root)
  overflow: hidden

//
// Correct the inheritance and scaling of font size in all browsers
// Correct the odd 'em' font sizing in all browsers
//

code,
kbd,
pre,
samp
  font-family: monospace, monospace
  font-size: 1em

//
// Add the correct margin in IE 8
//

figure
  margin: 1em 40px

//
// Add the correct box sizing in Firefox how the overflow in Edge and IE
//

hr
  overflow: visible

//
// Add the correct style on all browsers
//

hr
  height: 2px
  border: 0
  border-bottom: 1px solid grey

//
// Change font properties to 'inherit' in all browsers
//

button,
input,
select,
textarea
  font: inherit

//
// Restore the font weight unset by the previous rule
//

optgroup
  font-weight: bold

//
// Show the overflow in Edge, Firefox, and IE
//

button,
input,
select
  overflow: visible

//
// Remove the margin in Firefox and Safari
//

button,
input,
select,
textarea
  margin: 0

//
// Remove the inheritence of text transform in Edge, Firefox, and IE
//

button,
select
  text-transform: none

//
// Change the cursor in all browsers
//

button,
[type='reset'],
[type='submit'],
[type='button']
  cursor: pointer
  user-select: none

//
// Restore the default cursor to disabled elements unset by the previous rule
//

[disabled]
  cursor: not-allowed

//
// Prevent a WebKit bug where (2) destroys native 'audio' and 'video' controls in Android 4
// Correct the inability to style clickable types in iOS
//

button,
html [type='button'],
[type='reset'],
[type='submit']
  -webkit-appearance: button

//
// Remove the inner border and padding in Firefox
//

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

//
// Restore the focus styles unset by the previous rule
//

button:-moz-focusring,
input:-moz-focusring
  outline: 1px dotted ButtonText

//
// Change the border, margin, and padding in all browsers
//

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

//
// Correct the text wrapping in Edge and IE
// Correct the color inheritance from 'fieldset' elements in IE
// Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers
//

legend
  color: inherit
  display: table
  max-width: 100%
  padding: 0
  white-space: normal

//
// Remove the default vertical scrollbar in IE
//

textarea
  overflow: auto

//
// Add the correct box sizing in IE 10-
// Remove the padding in IE 10-
//

[type='checkbox'],
[type='radio']
  padding: 0

//
// Correct the cursor style of increment and decrement buttons in Chrome
//

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
  height: auto

//
// Correct the odd appearance of search inputs in Chrome and Safari
//

[type='search']
  -webkit-appearance: textfield

//
// Remove the inner padding and cancel buttons in Chrome on OS X and Safari on OS X
//

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
  -webkit-appearance: none
