@import ../constants
@import ../mixins

//
// Error block
//

.container-e404
  min-height: 100%

  .e404
    +size($w: 480px, $h: 383px)
    margin: 60px auto
    padding-top: 85px
    background: url(../../img/common/404.jpg) no-repeat center center

    .title
      +font(19px, 23px)
      margin-bottom: 20px
      text-align: center

    .description
      +font(14px, 16px)
      margin-bottom: 30px
      text-align: center

    .search-module
      width: 380px
      margin: 0 auto
