@import ../constants
@import ../mixins

//
// Calendar title
//

.calendar > *
  +margin(bottom, 20px)

//
// Events
//

.calendar .events a
  +font
  margin-bottom: 20px
  display: block
  padding: 6px

  &:nth-child(even)
    background: #f9f9f9
  &:hover
    background: $gray3

  img,
  .title
    margin-bottom: 6px

  .title
    +font(16px, 19px, 500)
    text-align: left
    text-align-last: left
    text-transform: uppercase

  .info
    span
      +font(13px, 15px)
      display: inline-block
      margin-right: 15px
      padding-left: 16px

    .data
      background: url(../../svg/pink-ico/calendar.svg) no-repeat left center
    .place
      background: url(../../svg/pink-ico/place.svg) no-repeat left center
    .company
      background: url(../../svg/pink-ico/company.svg) no-repeat left center
