@import ../constants
@import ../mixins

//
// Catalog title
//

.catalog h3
  margin-bottom: 20px

//
// News
//

.catalog .news
  +font
  margin: 0 -30px 15px 0

  a
    display: inline-block
    vertical-align: top
    width: 300px
    margin: 0 30px 15px 0

    .img
      +size($w: 300px, $h: 169px)
      position: relative
      margin-bottom: 10px

      img
        +size($box: 100%)
        display: block

      .title
        +position($pos: absolute, $top: 0, $left: 0)
        +size($w: 100%, $h: 34px)
        background: rgba(87, 12, 83, .55)

        .category
          +font(13px, 14px, 500)
          +ellipsis
          +position($pos: absolute, $top: 10px, $left: 10px)
          +size($w: 185px, $h: 14px)
          text-align: left
          text-transform: uppercase
          color: #fff

        .data
          +position($pos: absolute, $top: 10px, $right: 10px)
          height: 14px

          span
            +font(13px, 14px, 500)
            display: inline-block
            vertical-align: middle
            height: 14px

          .text
            margin-left: 3px
            text-align: right
            color: #fff

          .ico
            width: 13px
            svg, path
              fill: #fff

    .caption
      +font(14px, 16px, 500)
      text-align: left
      text-transform: uppercase

    &:hover
      .img .title
        background: rgba(87, 12, 83, .75)
      .caption
        text-decoration: underline

//
// Interview
//

.catalog .interview
  +font
  margin-right: -30px

  a
    +font
    +size($w: 300px, $h: auto)
    display: inline-block
    vertical-align: top
    margin: 0 30px 30px 0

    &:hover
      background: $gray3

    > *
      display: inline-block
      vertical-align: top

    img
      +size($w: 128px, $h: 160px)
      margin: 0

    .info
      +size($w: 172px, $h: 160px)
      overflow: hidden
      padding: 5px 5px 5px 10px

      .name
        +font(14px, 16px, 500)
        +ellipsis
        text-align: left
        margin-bottom: 14px

      .quote
        +font(13px, 15px)
        height: 120px
        letter-spacing: 0.13px

//
// Blogs
//

.catalog .blogs
  a
    +font
    +size($w: 100%, $h: 80px)
    display: block
    margin-bottom: 30px

    &:hover
      background: $gray3

    > *
      display: inline-block
      vertical-align: top

    img
      +size($box: 80px)

    div
      +size($w: 550px, $h: 80px)
      padding: 10px 0 10px 10px

      span
        display: block
        margin-bottom: 6px

      .title
        +font(16px, 19px, 500)
        +ellipsis
        text-align: left

      .name, .data
        +font(13px, 15px)
        height: 15px
        padding-left: 18px
        text-align: left

      .name
        background: url(../../svg/pink-ico/pen.svg) no-repeat left center
      .data
        background: url(../../svg/pink-ico/calendar.svg) no-repeat left center

//
// Press
//

.catalog .press
  margin-bottom: 30px

  a
    +font
    display: block
    width: 100%
    margin: 0 0 20px 0
    cursor: pointer

    &:hover div
      text-decoration: underline

    > *
      display: inline-block
      vertical-align: top

    img
      +size($box: 22px)
      margin-right: 10px
      border: 1px solid $gray1

    div
      +font(14px, 16px)
      width: 598px
      max-height: 36px
      padding-top: 3px

      .data
        +font(12px, 16px)
        color: $gray1
