@import ../constants
@import ../mixins

//
// Contact title
//

.contacts > *
  +margin(bottom, 20px)

//
// Method block
//

.contacts .method
  +justify
  height: 50px
  padding: 9px 40px
  background: $gray4

  *
    text-align: left
    text-align-last: left

  .phone,
  .email
    .ico
      +size($box: 32px)
      display: inline-block
      vertical-align: top
      margin-right: 10px
      border-radius: 50%
      background: url(../../img/sprite/icons-contacts.jpg)

  .phone .ico
    background-position: 0 0
  .email .ico
    background-position: 0 -32px

  .phone,
  .email
    .text
      +font(23px, 32px, 400, 'Open Sans')
      text-transform: uppercase

  .phone,
  .email
    .text:hover
      text-decoration: underline


//
// Members & Workplace
//

.contacts
  .member,
  .workplace
    div
      +font(14px, 16px)
      margin-bottom: 3px

  .member,
  .workplace
    .title
      font-weight: 500

  .member,
  .workplace
    a
      color: $pri1

  .member a
    margin-left: 5px

  .member,
  .workplace
    a:hover
      text-decoration: underline
