@import ../constants
@import ../mixins

//
// Catalog (albums)
//

.photo-gallery .albums
  +font
  margin-right: -30px
  text-align: left

  a
    display: inline-block
    vertical-align: top
    position: relative
    overflow: hidden
    cursor: pointer
    margin: 0 30px 30px 0

    img
      +size($box: 300px)
      z-index: 5

    &:before
      +size($w: 300px, $h: 35px)
      +position($pos: absolute, $bottom: 0, $left: 0)
      z-index: 10
      display: block
      content: ''
      background: rgba(87, 12, 83, .75)

    span
      +font(13px, 15px, 500)
      +ellipsis
      +position($pos: absolute, $bottom: 0, $left: 0)
      z-index: 15
      display: block
      width: 300px
      padding: 10px
      color: #fff

    &:hover
      img
        filter: blur(7px)
      &:before
        height: 300px
      span
        +font(16px, 19px, 500)
        +ellipsis(no)
        +center(ver)
        padding: 40px
        text-align: center

//
// Album
//

.photo-gallery
  > *
    +margin(bottom, 20px)

  .photo
    +font
    width: 100%
    margin-bottom: -20px

    .grid-item
      +size($box: 176px)
      float: left
      cursor: pointer
      overflow: hidden
      margin-bottom: 20px
    .grid-item--width2
      width: 372px
    .grid-item--height2
      height: 372px

    .grid-item:before
      +size($box: 100%)
      +position($pos: absolute, $right: 0, $bottom: 0)
      z-index: 10
      display: block
      content: ''
      opacity: 0
      background: rgba(87, 12, 83, .75)

    .grid-item:after
      +font(16px, 19px, 500)
      +center(both)
      +size($w: 150px, $h: 57px)
      z-index: 15
      display: block
      text-align: center
      color: transparent
      content: 'Нажмите для полноэкранного просмотра'

    .grid-item:hover img
      filter: blur(7px)
    .grid-item:hover:before
      opacity: 1
    .grid-item:hover:after
      color: #fff

//
// Loading
//

.loading
  height: 10px
  margin-top: 30px
  position: relative

  .center
    +font
    +center(hor)
    display: inline-block

    span
      +size($box: 10px)
      display: inline-block
      opacity: .15
      margin: 0 3px
      border-radius: 50%
      background: $sec1

    .ellips1
      animation: ellips-a 1s linear 0s infinite
    .ellips2
      animation: ellips-b 1s linear 0s infinite
    .ellips3
      animation: ellips-c 1s linear 0s infinite

@keyframes ellips-a
  0%
    opacity: .25
  25%
    opacity: .65
  50%
    opacity: .15
  75%
    opacity: .15
  100%
    opacity: .15

@keyframes ellips-b
  0%
    opacity: .15
  25%
    opacity: .25
  50%
    opacity: .65
  75%
    opacity: .15
  100%
    opacity: .15

@keyframes ellips-c
  0%
    opacity: .15
  25%
    opacity: .15
  50%
    opacity: .25
  75%
    opacity: .65
  100%
    opacity: .15
