@import ../constants
@import ../mixins

//
// Video Catalog
//

.video-gallery
  +font

  > *
    +margin(bottom, 20px)

  .videos
    margin: 0 -30px 15px 0

    a
      display: inline-block
      vertical-align: top
      position: relative
      width: 300px
      margin: 0 30px 15px 0

      &:before
        +size($w: 300px, $h: 169px)
        +position($pos: absolute, $top: 0, $left: 0)
        display: block
        content: ''
        background: transparent

      img
        +size($w: 300px, $h: 169px)
        margin-bottom: 10px

      .caption
        +font(14px, 16px, 500)
        text-align: left
        text-align-last: left
        text-transform: uppercase

      &:hover
        &:before
          background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, .35)
        .img .title
          background: rgba(87, 12, 83, .75)
        .caption
          text-decoration: underline
