@import ../constants
@import ../mixins

//
// Image slider (unslider jQuery plugin)
//

.unslider
  position: relative
  overflow: auto

.unslider-wrap
  position: relative
  height: 355px

.unslider-fade
  position: relative

.unslider-active
  z-index: 10 !important

.unslider-wrap
  li
    +position($pos: absolute, $top: 0, $right: 0, $left: 0)
    z-index: 8

  a
    +size($w: 630px, $h: 355px)
    display: block

  .slide-img-text
    +font
    +position($pos: absolute, $bottom: 50px, $left: 0)

  .slide-img-text span
    +font(16px, 14px)
    display: inline-block
    padding: 5px 7px
    text-transform: uppercase
    color: #fff
    background: $pri1

.unslider-nav
  ol
    +position($pos: absolute, $right: 20px, $bottom: 20px)
    height: 28px
    z-index: 15
    text-align: center

    li
      +font()
      +size($box: 28px)
      display: inline-block
      overflow: hidden
      margin-left: 10px
      cursor: pointer
      transition: all .3s ease
      vertical-align: bottom
      background: transparent
      box-shadow: inset 0 0 0 3px $pri1

    li:hover
      box-shadow: inset 0 0 0 3px $pri2

    li.unslider-active:hover
      box-shadow: inset 0 0 0 3px $pri1

    li:before
      +size($box: 0)
      display: block
      margin: 14px
      content: ''
      background: transparent

    li.unslider-active:before
      +size($box: 16px)
      display: block
      margin: 6px
      content: ''
      background: $pri1

//
// Title for modules
//

.main-page
  .title-preview
    +justify
    position: relative
    height: 24px
    margin: 30px 0

    div, a
      height: 24px
      text-align: left
      text-align-last: left
    div
      +font(32px, 24px, 600)
      text-transform: uppercase
    a
      span
        display: inline-block
        vertical-align: middle

  .link
    +font(13px, 24px)
    text-align: right
    color: $sec2

  .ico
    +font(15px, 24px)
    margin-right: 3px

    svg, path
      fill: $sec3

  a:hover
    .link
      text-decoration: underline
      color: $pri3
    .ico
      svg, path
        fill: $pri3

//
// News preview
//

.main-page .news .elem
  +font
  margin: 0 -30px -15px 0

  a
    display: inline-block
    vertical-align: top
    width: 300px
    margin: 0 30px 15px 0

    .img
      +size($w: 300px, $h: 169px)
      position: relative
      margin-bottom: 10px

      img
        +size($box: 100%)
        display: block

      .title
        +size($w: 100%, $h: 34px)
        +position($pos: absolute, $top: 0, $left: 0)
        background: rgba(87, 12, 83, .55)

        .category
          +font(13px, 14px, 500)
          +ellipsis
          +position($pos: absolute, $top: 10px, $left: 10px)
          +size($w: 185px, $h: 14px)
          text-align: left
          text-align-last: left
          text-transform: uppercase
          color: #fff

        .data
          +position($pos: absolute, $top: 10px, $right: 10px)
          height: 14px

          span
            +font(13px, 14px, 500)
            display: inline-block
            vertical-align: middle
            height: 14px

          .text
            margin-left: 3px
            text-align: right
            color: #fff

          .ico
            width: 13px
            svg, path
              fill: #fff

    .caption
      +font(14px, 16px, 500)
      text-align: left
      text-transform: uppercase

  a:hover
    .img
      .title
        background: rgba(87, 12, 83, .75)
    .caption
        text-decoration: underline

//
// Photo gallery preview
//

.main-page .gallery .photo
  +font
  margin: 0 -15px -15px 0

  .photo-preview
    +size($box: 200px)
    position: relative
    overflow: hidden
    display: inline-block
    vertical-align: top
    margin: 0 15px 15px 0

    img
      z-index: 5

    span
      +font(16px, 18px, 500)
      +center(both)
      z-index: 15
      display: block
      width: 90%
      text-align: center
      text-align-last: center
      vertical-align: middle
      color: transparent

    &:before
      +size($box: 100%)
      +position($pos: absolute, $left: 0, $top: 0)
      z-index: 10
      display: block
      content: ''
      background: transparent

    &:hover
      span
        color: #fff
      img
        filter: blur(7px)
      &:before
        background: rgba(87, 12, 83, .75)

//
// Miss module spoiler
//

.main-page .spoiler
  position: relative
  margin-top: 30px
  padding: 20px
  border: 3px solid $pri1

  &.open
    .spoiler-content
      display: block $gg
    .ico-drop
      transform: rotate(180deg)

  &.close
    .spoiler-content
      display: none $gg
    .ico-drop
      transform: rotate(0deg)

  .title
    cursor: pointer
    span
      +font(15px, 18px, 700)
      text-align: left
      text-align-last: left
      text-transform: uppercase

  .ico-drop
    +position($pos: absolute, $top: 14px, $right: 14px)

  .information
    +font(14px, 16px)
    margin: 20px 0
    text-align: justify

  .girls-fin
    +font
    margin: 0 -14px -20px 0

    > div
      +size($w: 285px, $h: 150px)
      display: inline-block
      vertical-align: top
      margin: 0 14px 20px 0

    .photo
      +size($w: 112px, $h: 150px)

    .miss-data
      width: 173px
      margin: 15px 0

  .name
    width: 95%
    margin: 0 auto

    div
      +font(16px, 19px, 500)
      +ellipsis
      text-align: center

  .code, .votes
    +font
    width: 120px
    margin: 10px auto 0 auto

    div
      display: inline-block

  .left, .right
    +font(13px, 30px)
    height: 30px
    text-align: center
    text-transform: uppercase

  .left
    font-style: italic
    margin-right: 10px
    background: $gray4

  .right
    font-weight: 700
    color: #fff
    background: $pri1

  .code
    .left
      width: 41px
    .right
      width: 69px

  .votes
    .left
      width: 72px
    .right
      width: 38px
