@import ../constants
@import ../mixins

//
// Share block (bottom)
//

.article-share
  +font
  +size($w: 100%, $h: 40px)
  padding: 8px 0
  text-align: left
  background: $gray4

  > span
    +font(18px, 24px, 500)
    display: inline-block
    vertical-align: middle
    margin-left: 10px

  > div
    margin-right: 8px

//
// More links (bottom)
//

.article-more
  a
    +font
    +margin(bottom, 7px)
    display: block

  span
    display: inline-block
    vertical-align: middle
    text-align: left
    text-align-last: left

    &:first-child
      +font(14px, 16px)
      +size($w: 90px, $h: 16px)
      font-style: italic
      margin-right: 30px
      color: $gray1

    &:last-child
      +font(14px, 16px)
      +ellipsis
      width: 510px

  a:hover span
    text-decoration: underline
