@import ../constants
@import ../mixins

//
// Registration
//

.registration
  position: relative
  form
    > *
      +margin(bottom, 20px)
    .info-pri,
    .info-sec
      .group-ver
        width: 480px
        .label
          margin-right: 0
          width: 180px
        .text-input
          width: 300px

  .fast
    +size($w: 102px, $h: 470px)
    +position($pos: absolute, $top: 0, $right: 0)
    background: url(../../img/common/ribbon.jpg) no-repeat center center

    > *
      +margin(bottom, 10px)

    .title
      +size($w: 90px, $h: 38px)
      +font(14px, 19px, 500)
      +center(block)
      margin-top: 6px
      text-align: center
      color: #fff

    a
      +center(block)
      +size($box: 44px)
      background: url(../../img/sprite/social2.jpg) no-repeat

      &.fb
        background-position: 0 0
      &.vk
        background-position: 0 -44px
      &.gp
        background-position: 0 -88px
      &.ya
        background-position: 0 -132px
      &.mr
        background-position: 0 -176px
      &.lin
        background-position: 0 -220px

//
// Verification
//

.verification
  &.page1,
  &.page2,
  &.page3
    > *
      +margin(bottom, 20px)
    .group
      > *
        display: inline-block
        vertical-align: top
        +margin(right, 30px)
      .phone-select
        width: 270px
        position: relative
        .step
          +size($w: 56px, $h: 14px)
          +position($pos: absolute, $right: 0, $top: calc(100% + 10px))
          +font(12px, 14px)
          display: block
          font-style: italic
          color: $gray1

  &.page2
    > *
      +margin(bottom, 20px)
      text-align: center

    .group
      .code-group
        width: 260px
        position: relative
        .step
          +size($w: 56px, $h: 14px)
          +position($pos: absolute, $right: 0, $top: calc(100% + 10px))
          +font(12px, 14px)
          display: block
          font-style: italic
          color: $gray1

  &.page3
    > *
      +margin(bottom, 20px)
      text-align: center

    a
      +center(block)
      +size($w: 270px, $h: 50px)
      +font(20px, 50px)
      text-align: center
      text-align-last: center
      text-transform: uppercase
      color: #fff
      background: $pri1
    a:hover
      background: $pri2

//
// View
//

.profile-view
  > *
    +margin(bottom, 10px)

  .info
    +font

    .left,
    .right
      display: inline-block
      vertical-align: top

    .left
      +size($box: 150px)
      margin-right: 10px
    .right
      +size($w: 470px, $h: 150px)
      position: relative

      .name
        +size($w: 440px, $h: 24px)
        +font(20px, 24px, 700)
        +ellipsis
        text-transform: uppercase
      hr
        margin-top: 10px
        margin-bottom: 10px
        border-color: $gray2
      .company,
      .job,
      .city
        +font(14px, 16px, 500)
        margin-bottom: 3px

      .settings
        +size($box: 20px)
        +position($pos: absolute, $top: 0, $right: 0)
        display: block
        opacity: .15
        background: url(../../svg/ui/settings.svg) no-repeat center center
      .settings:hover
        opacity: .35

  .content-info
    .left
      width: 150px
    .right
      width: 480px

//
// Edit
//

.profile-edit form
  > *
    +margin(bottom, 70px)
  .group
    > *
      +margin(bottom, 10px)

    p
      margin-bottom: 20px

    .group-ver
      +margin(bottom, 10px)

    .blocks
      +font
      .left,
      .right
        display: inline-block
        vertical-align: top
      .left
        width: 450px
        margin-right: 30px
        .label
          width: 140px
          margin-right: 10px
        .text-input
          width: 300px
      .right
        width: 150px
        .image-upload
          +size($box: 150px)
          display: block
          cursor: pointer
          overflow: hidden
          position: relative
          input
            display: none
          &:before
            +size($box: 100%)
            +position($pos: absolute, $right: 0, $bottom: 0)
            z-index: 10
            display: block
            content: ''
            opacity: 0
            background: rgba(87, 12, 83, .75)
          &:after
            +font(16px, 19px, 500)
            +center(both)
            +size($w: 150px, $h: 38px)
            z-index: 15
            display: block
            text-align: center
            color: transparent
            content: 'ОБНОВИТЬ ФОТО ПРОФИЛЯ'

          &:hover
            img
              filter: blur(7px)
            &:before
              opacity: 1
            &:after
              color: #fff

    .plus
      .text-input
        width: 270px $gg
      a
        display: inline-block
        vertical-align: top
        +size($box: 30px)
        opacity: .75
        background: url(../../svg/ui/phone-plus.svg) no-repeat center center
      a:hover
        opacity: 1
