@import ../constants
@import ../mixins

.vote > *
  +margin(bottom, 20px)

//
// Preview with img or not
//

.vote .preview
  +font
  text-align: justify
  img
    margin-right: 25px
  span
    +font(14px, 20px, 400, 'Open Sans')

//
// Candidacies
//

.vote .candidacies
  +font
  margin: 20px -30px 0 0

  .candidate
    +size($w: 300px, $h: 160px)
    display: inline-block
    vertical-align: top
    margin: 0 30px 20px 0

    .image,
    .info
      display: inline-block
      vertical-align: top
      position: relative

//
// Image (left)
//

.vote .candidacies .candidate .image
  +size($w: 128px, $h: 160px)
  overflow: hidden
  cursor: pointer

  img
    +size($w: 128px, $h: 160px)
    z-index: 5

  &:before
    +size($box: 100%)
    position: absolute
    display: block
    z-index: 10
    content: ''
    background: transparent

  .more-info
    +font(14px, 16px, 500)
    +center(both)
    z-index: 15
    text-align: center
    color: transparent

  &:hover
    img
      filter: blur(7px)
    &:before
      background: rgba(87, 12, 83, .75)
    .more-info
      color: #fff

  .voted-ico
    +size($box: 20px)
    +position($pos: absolute, $bottom: 6px, $left: 6px)
    z-index: 20
    border-radius: 50%
    background: url(../../img/common/voted.jpg) no-repeat

//
// Info (right)
//

.vote .candidacies .candidate .info
  +size($w: 172px, $h: 160px)
  padding: 5px 10px

  .name,
  .post
    display: block

  .name
    +font(14px, 16px, 500)
    margin-bottom: 10px
    text-align: left

  .post
    +font(12px, 15px)
    height: 75px
    letter-spacing: .12px

  .votes
    +font(14px, 16px, 500)
    +size($w: 152px, $h: 16px)
    +position($pos: absolute, $right: 10px, $bottom: 5px)
    letter-spacing: .14px

  .vote-btn
    +font(12px, 30px)
    +size($w: 152px, $h: 30px)
    +position($pos: absolute, $right: 10px, $bottom: 5px)
    cursor: pointer
    text-align: center
    text-align-last: center
    text-transform: uppercase
    color: #fff
    background: $pri1

    &.active
      background: $pri3
    &:hover
      background: $pri2
