@mixin center($type: both)
  @if $type == block
    display: block
    margin-left: auto
    margin-right: auto
  @if $type == both
    position: absolute
    right: 50%
    bottom: 50%
    transform: translate(50%,50%)
  @if $type == ver
    position: absolute
    bottom: 50%
    transform: translate(0,50%)
  @if $type == hor
    position: absolute
    right: 50%
    transform: translate(50%,0)
