@mixin placeholder($r: 0, $g: 0, $b: 0, $a: .25)
  ::-webkit-input-placeholder
    color: rgba($r, $g, $b, $a)
  ::-moz-placeholder
    color: rgba($r, $g, $b, $a)
  ::placeholder
    color: rgba($r, $g, $b, $a)
  :-ms-input-placeholder
    color: rgba($r, $g, $b, $a)
