@mixin justify($value: top)
  font: 0/0 a
  text-align: justify
  text-align-last: justify
  text-justify: newspaper
  &:after
    display: inline-block;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
  & > *
    display: inline-block
    vertical-align: $value
