@mixin ellipsis($value: yes)
  @if $value == yes
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  @else
    white-space: normal
    overflow: visible
    text-overflow: clip
