.container-e404 {
  min-height: 100%;
}

.container-e404 .e404 {
  width: 480px;
  height: 383px;
  margin: 60px auto;
  padding-top: 85px;
  background: url(../../img/common/404.jpg) no-repeat center center;
}

.container-e404 .e404 .title {
  font: 400 19px / 23px "Roboto";
  margin-bottom: 20px;
  text-align: center;
}

.container-e404 .e404 .description {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 30px;
  text-align: center;
}

.container-e404 .e404 .search-module {
  width: 380px;
  margin: 0 auto;
}
