.calendar > * {
  margin-bottom: 20px;
}

.calendar > *:last-child {
  margin-bottom: 0;
}

.calendar .events a {
  font: 0/0 a;
  margin-bottom: 20px;
  display: block;
  padding: 6px;
}

.calendar .events a:nth-child(even) {
  background: #f9f9f9;
}

.calendar .events a:hover {
  background: #efefef;
}

.calendar .events a img,
.calendar .events a .title {
  margin-bottom: 6px;
}

.calendar .events a .title {
  font: 500 16px / 19px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.calendar .events a .info span {
  font: 400 13px / 15px "Roboto";
  display: inline-block;
  margin-right: 15px;
  padding-left: 16px;
}

.calendar .events a .info .data {
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.calendar .events a .info .place {
  background: url(../../svg/pink-ico/place.svg) no-repeat left center;
}

.calendar .events a .info .company {
  background: url(../../svg/pink-ico/company.svg) no-repeat left center;
}
