.catalog h3 {
  margin-bottom: 20px;
}

.catalog .news {
  font: 0/0 a;
  margin: 0 -30px 15px 0;
}

.catalog .news a {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 30px 15px 0;
}

.catalog .news a .img {
  width: 300px;
  height: 169px;
  position: relative;
  margin-bottom: 10px;
}

.catalog .news a .img img {
  width: 100%;
  height: 100%;
  display: block;
}

.catalog .news a .img .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  background: rgba(87, 12, 83, 0.55);
}

.catalog .news a .img .title .category {
  font: 500 13px / 14px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 185px;
  height: 14px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}

.catalog .news a .img .title .data {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
}

.catalog .news a .img .title .data span {
  font: 500 13px / 14px "Roboto";
  display: inline-block;
  vertical-align: middle;
  height: 14px;
}

.catalog .news a .img .title .data .text {
  margin-left: 3px;
  text-align: right;
  color: #fff;
}

.catalog .news a .img .title .data .ico {
  width: 13px;
}

.catalog .news a .img .title .data .ico svg, .catalog .news a .img .title .data .ico path {
  fill: #fff;
}

.catalog .news a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-transform: uppercase;
}

.catalog .news a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.catalog .news a:hover .caption {
  text-decoration: underline;
}

.catalog .interview {
  font: 0/0 a;
  margin-right: -30px;
}

.catalog .interview a {
  font: 0/0 a;
  width: 300px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 30px 0;
}

.catalog .interview a:hover {
  background: #efefef;
}

.catalog .interview a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .interview a img {
  width: 128px;
  height: 160px;
  margin: 0;
}

.catalog .interview a .info {
  width: 172px;
  height: 160px;
  overflow: hidden;
  padding: 5px 5px 5px 10px;
}

.catalog .interview a .info .name {
  font: 500 14px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-bottom: 14px;
}

.catalog .interview a .info .quote {
  font: 400 13px / 15px "Roboto";
  height: 120px;
  letter-spacing: 0.13px;
}

.catalog .blogs a {
  font: 0/0 a;
  width: 100%;
  height: 80px;
  display: block;
  margin-bottom: 30px;
}

.catalog .blogs a:hover {
  background: #efefef;
}

.catalog .blogs a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .blogs a img {
  width: 80px;
  height: 80px;
}

.catalog .blogs a div {
  width: 550px;
  height: 80px;
  padding: 10px 0 10px 10px;
}

.catalog .blogs a div span {
  display: block;
  margin-bottom: 6px;
}

.catalog .blogs a div .title {
  font: 500 16px / 19px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.catalog .blogs a div .name, .catalog .blogs a div .data {
  font: 400 13px / 15px "Roboto";
  height: 15px;
  padding-left: 18px;
  text-align: left;
}

.catalog .blogs a div .name {
  background: url(../../svg/pink-ico/pen.svg) no-repeat left center;
}

.catalog .blogs a div .data {
  background: url(../../svg/pink-ico/calendar.svg) no-repeat left center;
}

.catalog .press {
  margin-bottom: 30px;
}

.catalog .press a {
  font: 0/0 a;
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.catalog .press a:hover div {
  text-decoration: underline;
}

.catalog .press a > * {
  display: inline-block;
  vertical-align: top;
}

.catalog .press a img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 1px solid #969696;
}

.catalog .press a div {
  font: 400 14px / 16px "Roboto";
  width: 598px;
  max-height: 36px;
  padding-top: 3px;
}

.catalog .press a div .data {
  font: 400 12px / 16px "Roboto";
  color: #969696;
}
