.contacts > * {
  margin-bottom: 20px;
}

.contacts > *:last-child {
  margin-bottom: 0;
}

.contacts .method {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  height: 50px;
  padding: 9px 40px;
  background: #f4f4f4;
}

.contacts .method:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.contacts .method > * {
  display: inline-block;
  vertical-align: top;
}

.contacts .method * {
  text-align: left;
  text-align-last: left;
}

.contacts .method .phone .ico,
.contacts .method .email .ico {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 50%;
  background: url(../../img/sprite/icons-contacts.jpg);
}

.contacts .method .phone .ico {
  background-position: 0 0;
}

.contacts .method .email .ico {
  background-position: 0 -32px;
}

.contacts .method .phone .text,
.contacts .method .email .text {
  font: 400 23px / 32px "Open Sans";
  text-transform: uppercase;
}

.contacts .method .phone .text:hover,
.contacts .method .email .text:hover {
  text-decoration: underline;
}

.contacts .member div,
.contacts .workplace div {
  font: 400 14px / 16px "Roboto";
  margin-bottom: 3px;
}

.contacts .member .title,
.contacts .workplace .title {
  font-weight: 500;
}

.contacts .member a,
.contacts .workplace a {
  color: #570c53;
}

.contacts .member a {
  margin-left: 5px;
}

.contacts .member a:hover,
.contacts .workplace a:hover {
  text-decoration: underline;
}
