.video-gallery {
  font: 0/0 a;
}

.video-gallery > * {
  margin-bottom: 20px;
}

.video-gallery > *:last-child {
  margin-bottom: 0;
}

.video-gallery .videos {
  margin: 0 -30px 15px 0;
}

.video-gallery .videos a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 300px;
  margin: 0 30px 15px 0;
}

.video-gallery .videos a:before {
  width: 300px;
  height: 169px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  background: transparent;
}

.video-gallery .videos a img {
  width: 300px;
  height: 169px;
  margin-bottom: 10px;
}

.video-gallery .videos a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.video-gallery .videos a:hover:before {
  background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, 0.35);
}

.video-gallery .videos a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.video-gallery .videos a:hover .caption {
  text-decoration: underline;
}
