@charset "UTF-8";
.photo-gallery .albums {
  font: 0/0 a;
  margin-right: -30px;
  text-align: left;
}

.photo-gallery .albums a {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 0 30px 30px 0;
}

.photo-gallery .albums a img {
  width: 300px;
  height: 300px;
  z-index: 5;
}

.photo-gallery .albums a:before {
  width: 300px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  content: '';
  background: rgba(87, 12, 83, 0.75);
}

.photo-gallery .albums a span {
  font: 500 13px / 15px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: block;
  width: 300px;
  padding: 10px;
  color: #fff;
}

.photo-gallery .albums a:hover img {
  filter: blur(7px);
}

.photo-gallery .albums a:hover:before {
  height: 300px;
}

.photo-gallery .albums a:hover span {
  font: 500 16px / 19px "Roboto";
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  position: absolute;
  bottom: 50%;
  transform: translate(0, 50%);
  padding: 40px;
  text-align: center;
}

.photo-gallery > * {
  margin-bottom: 20px;
}

.photo-gallery > *:last-child {
  margin-bottom: 0;
}

.photo-gallery .photo {
  font: 0/0 a;
  width: 100%;
  margin-bottom: -20px;
}

.photo-gallery .photo .grid-item {
  width: 176px;
  height: 176px;
  float: left;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-gallery .photo .grid-item--width2 {
  width: 372px;
}

.photo-gallery .photo .grid-item--height2 {
  height: 372px;
}

.photo-gallery .photo .grid-item:before {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  content: '';
  opacity: 0;
  background: rgba(87, 12, 83, 0.75);
}

.photo-gallery .photo .grid-item:after {
  font: 500 16px / 19px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 150px;
  height: 57px;
  z-index: 15;
  display: block;
  text-align: center;
  color: transparent;
  content: 'Нажмите для полноэкранного просмотра';
}

.photo-gallery .photo .grid-item:hover img {
  filter: blur(7px);
}

.photo-gallery .photo .grid-item:hover:before {
  opacity: 1;
}

.photo-gallery .photo .grid-item:hover:after {
  color: #fff;
}

.loading {
  height: 10px;
  margin-top: 30px;
  position: relative;
}

.loading .center {
  font: 0/0 a;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  display: inline-block;
}

.loading .center span {
  width: 10px;
  height: 10px;
  display: inline-block;
  opacity: .15;
  margin: 0 3px;
  border-radius: 50%;
  background: #2d2630;
}

.loading .center .ellips1 {
  animation: ellips-a 1s linear 0s infinite;
}

.loading .center .ellips2 {
  animation: ellips-b 1s linear 0s infinite;
}

.loading .center .ellips3 {
  animation: ellips-c 1s linear 0s infinite;
}

@keyframes ellips-a {
  0% {
    opacity: .25;
  }
  25% {
    opacity: .65;
  }
  50% {
    opacity: .15;
  }
  75% {
    opacity: .15;
  }
  100% {
    opacity: .15;
  }
}

@keyframes ellips-b {
  0% {
    opacity: .15;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .65;
  }
  75% {
    opacity: .15;
  }
  100% {
    opacity: .15;
  }
}

@keyframes ellips-c {
  0% {
    opacity: .15;
  }
  25% {
    opacity: .15;
  }
  50% {
    opacity: .25;
  }
  75% {
    opacity: .65;
  }
  100% {
    opacity: .15;
  }
}
