.unslider {
  position: relative;
  overflow: auto;
}

.unslider-wrap {
  position: relative;
  height: 355px;
}

.unslider-fade {
  position: relative;
}

.unslider-active {
  z-index: 10 !important;
}

.unslider-wrap li {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
}

.unslider-wrap a {
  width: 630px;
  height: 355px;
  display: block;
}

.unslider-wrap .slide-img-text {
  font: 0/0 a;
  position: absolute;
  bottom: 50px;
  left: 0;
}

.unslider-wrap .slide-img-text span {
  font: 400 16px / 14px "Roboto";
  display: inline-block;
  padding: 5px 7px;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.unslider-nav ol {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 28px;
  z-index: 15;
  text-align: center;
}

.unslider-nav ol li {
  font: 0/0 a;
  width: 28px;
  height: 28px;
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  cursor: pointer;
  transition: all .3s ease;
  vertical-align: bottom;
  background: transparent;
  box-shadow: inset 0 0 0 3px #570c53;
}

.unslider-nav ol li:hover {
  box-shadow: inset 0 0 0 3px #691d70;
}

.unslider-nav ol li.unslider-active:hover {
  box-shadow: inset 0 0 0 3px #570c53;
}

.unslider-nav ol li:before {
  width: 0;
  height: 0;
  display: block;
  margin: 14px;
  content: '';
  background: transparent;
}

.unslider-nav ol li.unslider-active:before {
  width: 16px;
  height: 16px;
  display: block;
  margin: 6px;
  content: '';
  background: #570c53;
}

.main-page .title-preview {
  font: 0/0 a;
  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  position: relative;
  height: 24px;
  margin: 30px 0;
}

.main-page .title-preview:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}

.main-page .title-preview > * {
  display: inline-block;
  vertical-align: top;
}

.main-page .title-preview div, .main-page .title-preview a {
  height: 24px;
  text-align: left;
  text-align-last: left;
}

.main-page .title-preview div {
  font: 600 32px / 24px "Roboto";
  text-transform: uppercase;
}

.main-page .title-preview a span {
  display: inline-block;
  vertical-align: middle;
}

.main-page .link {
  font: 400 13px / 24px "Roboto";
  text-align: right;
  color: #2e0245;
}

.main-page .ico {
  font: 400 15px / 24px "Roboto";
  margin-right: 3px;
}

.main-page .ico svg, .main-page .ico path {
  fill: #ce3762;
}

.main-page a:hover .link {
  text-decoration: underline;
  color: #7b2e8c;
}

.main-page a:hover .ico svg, .main-page a:hover .ico path {
  fill: #7b2e8c;
}

.main-page .news .elem {
  font: 0/0 a;
  margin: 0 -30px -15px 0;
}

.main-page .news .elem a {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 30px 15px 0;
}

.main-page .news .elem a .img {
  width: 300px;
  height: 169px;
  position: relative;
  margin-bottom: 10px;
}

.main-page .news .elem a .img img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-page .news .elem a .img .title {
  width: 100%;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(87, 12, 83, 0.55);
}

.main-page .news .elem a .img .title .category {
  font: 500 13px / 14px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 185px;
  height: 14px;
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
  color: #fff;
}

.main-page .news .elem a .img .title .data {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 14px;
}

.main-page .news .elem a .img .title .data span {
  font: 500 13px / 14px "Roboto";
  display: inline-block;
  vertical-align: middle;
  height: 14px;
}

.main-page .news .elem a .img .title .data .text {
  margin-left: 3px;
  text-align: right;
  color: #fff;
}

.main-page .news .elem a .img .title .data .ico {
  width: 13px;
}

.main-page .news .elem a .img .title .data .ico svg, .main-page .news .elem a .img .title .data .ico path {
  fill: #fff;
}

.main-page .news .elem a .caption {
  font: 500 14px / 16px "Roboto";
  text-align: left;
  text-transform: uppercase;
}

.main-page .news .elem a:hover .img .title {
  background: rgba(87, 12, 83, 0.75);
}

.main-page .news .elem a:hover .caption {
  text-decoration: underline;
}

.main-page .gallery .photo {
  font: 0/0 a;
  margin: 0 -15px -15px 0;
}

.main-page .gallery .photo .photo-preview {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
}

.main-page .gallery .photo .photo-preview img {
  z-index: 5;
}

.main-page .gallery .photo .photo-preview span {
  font: 500 16px / 18px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 15;
  display: block;
  width: 90%;
  text-align: center;
  text-align-last: center;
  vertical-align: middle;
  color: transparent;
}

.main-page .gallery .photo .photo-preview:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  content: '';
  background: transparent;
}

.main-page .gallery .photo .photo-preview:hover span {
  color: #fff;
}

.main-page .gallery .photo .photo-preview:hover img {
  filter: blur(7px);
}

.main-page .gallery .photo .photo-preview:hover:before {
  background: rgba(87, 12, 83, 0.75);
}

.main-page .spoiler {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  border: 3px solid #570c53;
}

.main-page .spoiler.open .spoiler-content {
  display: block !important;
}

.main-page .spoiler.open .ico-drop {
  transform: rotate(180deg);
}

.main-page .spoiler.close .spoiler-content {
  display: none !important;
}

.main-page .spoiler.close .ico-drop {
  transform: rotate(0deg);
}

.main-page .spoiler .title {
  cursor: pointer;
}

.main-page .spoiler .title span {
  font: 700 15px / 18px "Roboto";
  text-align: left;
  text-align-last: left;
  text-transform: uppercase;
}

.main-page .spoiler .ico-drop {
  position: absolute;
  top: 14px;
  right: 14px;
}

.main-page .spoiler .information {
  font: 400 14px / 16px "Roboto";
  margin: 20px 0;
  text-align: justify;
}

.main-page .spoiler .girls-fin {
  font: 0/0 a;
  margin: 0 -14px -20px 0;
}

.main-page .spoiler .girls-fin > div {
  width: 285px;
  height: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 0 14px 20px 0;
}

.main-page .spoiler .girls-fin .photo {
  width: 112px;
  height: 150px;
}

.main-page .spoiler .girls-fin .miss-data {
  width: 173px;
  margin: 15px 0;
}

.main-page .spoiler .name {
  width: 95%;
  margin: 0 auto;
}

.main-page .spoiler .name div {
  font: 500 16px / 19px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.main-page .spoiler .code, .main-page .spoiler .votes {
  font: 0/0 a;
  width: 120px;
  margin: 10px auto 0 auto;
}

.main-page .spoiler .code div, .main-page .spoiler .votes div {
  display: inline-block;
}

.main-page .spoiler .left, .main-page .spoiler .right {
  font: 400 13px / 30px "Roboto";
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.main-page .spoiler .left {
  font-style: italic;
  margin-right: 10px;
  background: #f4f4f4;
}

.main-page .spoiler .right {
  font-weight: 700;
  color: #fff;
  background: #570c53;
}

.main-page .spoiler .code .left {
  width: 41px;
}

.main-page .spoiler .code .right {
  width: 69px;
}

.main-page .spoiler .votes .left {
  width: 72px;
}

.main-page .spoiler .votes .right {
  width: 38px;
}
