.article-share {
  font: 0/0 a;
  width: 100%;
  height: 40px;
  padding: 8px 0;
  text-align: left;
  background: #f4f4f4;
}

.article-share > span {
  font: 500 18px / 24px "Roboto";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.article-share > div {
  margin-right: 8px;
}

.article-more a {
  font: 0/0 a;
  display: block;
}

.article-more a {
  margin-bottom: 7px;
}

.article-more a:last-child {
  margin-bottom: 0;
}

.article-more span {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-align-last: left;
}

.article-more span:first-child {
  font: 400 14px / 16px "Roboto";
  width: 90px;
  height: 16px;
  font-style: italic;
  margin-right: 30px;
  color: #969696;
}

.article-more span:last-child {
  font: 400 14px / 16px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 510px;
}

.article-more a:hover span {
  text-decoration: underline;
}
