@charset "UTF-8";
.registration {
  position: relative;
}

.registration form > * {
  margin-bottom: 20px;
}

.registration form > *:last-child {
  margin-bottom: 0;
}

.registration form .info-pri .group-ver,
.registration form .info-sec .group-ver {
  width: 480px;
}

.registration form .info-pri .group-ver .label,
.registration form .info-sec .group-ver .label {
  margin-right: 0;
  width: 180px;
}

.registration form .info-pri .group-ver .text-input,
.registration form .info-sec .group-ver .text-input {
  width: 300px;
}

.registration .fast {
  width: 102px;
  height: 470px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../../img/common/ribbon.jpg) no-repeat center center;
}

.registration .fast > * {
  margin-bottom: 10px;
}

.registration .fast > *:last-child {
  margin-bottom: 0;
}

.registration .fast .title {
  width: 90px;
  height: 38px;
  font: 500 14px / 19px "Roboto";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  color: #fff;
}

.registration .fast a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
  background: url(../../img/sprite/social2.jpg) no-repeat;
}

.registration .fast a.fb {
  background-position: 0 0;
}

.registration .fast a.vk {
  background-position: 0 -44px;
}

.registration .fast a.gp {
  background-position: 0 -88px;
}

.registration .fast a.ya {
  background-position: 0 -132px;
}

.registration .fast a.mr {
  background-position: 0 -176px;
}

.registration .fast a.lin {
  background-position: 0 -220px;
}

.verification.page1 > *, .verification.page2 > *, .verification.page3 > * {
  margin-bottom: 20px;
}

.verification.page1 > *:last-child, .verification.page2 > *:last-child, .verification.page3 > *:last-child {
  margin-bottom: 0;
}

.verification.page1 .group > *, .verification.page2 .group > *, .verification.page3 .group > * {
  display: inline-block;
  vertical-align: top;
}

.verification.page1 .group > *, .verification.page2 .group > *, .verification.page3 .group > * {
  margin-right: 30px;
}

.verification.page1 .group > *:last-child, .verification.page2 .group > *:last-child, .verification.page3 .group > *:last-child {
  margin-right: 0;
}

.verification.page1 .group .phone-select, .verification.page2 .group .phone-select, .verification.page3 .group .phone-select {
  width: 270px;
  position: relative;
}

.verification.page1 .group .phone-select .step, .verification.page2 .group .phone-select .step, .verification.page3 .group .phone-select .step {
  width: 56px;
  height: 14px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  font: 400 12px / 14px "Roboto";
  display: block;
  font-style: italic;
  color: #969696;
}

.verification.page2 > * {
  text-align: center;
}

.verification.page2 > * {
  margin-bottom: 20px;
}

.verification.page2 > *:last-child {
  margin-bottom: 0;
}

.verification.page2 .group .code-group {
  width: 260px;
  position: relative;
}

.verification.page2 .group .code-group .step {
  width: 56px;
  height: 14px;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  font: 400 12px / 14px "Roboto";
  display: block;
  font-style: italic;
  color: #969696;
}

.verification.page3 > * {
  text-align: center;
}

.verification.page3 > * {
  margin-bottom: 20px;
}

.verification.page3 > *:last-child {
  margin-bottom: 0;
}

.verification.page3 a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 50px;
  font: 400 20px / 50px "Roboto";
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.verification.page3 a:hover {
  background: #691d70;
}

.profile-view > * {
  margin-bottom: 10px;
}

.profile-view > *:last-child {
  margin-bottom: 0;
}

.profile-view .info {
  font: 0/0 a;
}

.profile-view .info .left,
.profile-view .info .right {
  display: inline-block;
  vertical-align: top;
}

.profile-view .info .left {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.profile-view .info .right {
  width: 470px;
  height: 150px;
  position: relative;
}

.profile-view .info .right .name {
  width: 440px;
  height: 24px;
  font: 700 20px / 24px "Roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.profile-view .info .right hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #d8d8d8;
}

.profile-view .info .right .company,
.profile-view .info .right .job,
.profile-view .info .right .city {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 3px;
}

.profile-view .info .right .settings {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  opacity: .15;
  background: url(../../svg/ui/settings.svg) no-repeat center center;
}

.profile-view .info .right .settings:hover {
  opacity: .35;
}

.profile-view .content-info .left {
  width: 150px;
}

.profile-view .content-info .right {
  width: 480px;
}

.profile-edit form > * {
  margin-bottom: 70px;
}

.profile-edit form > *:last-child {
  margin-bottom: 0;
}

.profile-edit form .group > * {
  margin-bottom: 10px;
}

.profile-edit form .group > *:last-child {
  margin-bottom: 0;
}

.profile-edit form .group p {
  margin-bottom: 20px;
}

.profile-edit form .group .group-ver {
  margin-bottom: 10px;
}

.profile-edit form .group .group-ver:last-child {
  margin-bottom: 0;
}

.profile-edit form .group .blocks {
  font: 0/0 a;
}

.profile-edit form .group .blocks .left,
.profile-edit form .group .blocks .right {
  display: inline-block;
  vertical-align: top;
}

.profile-edit form .group .blocks .left {
  width: 450px;
  margin-right: 30px;
}

.profile-edit form .group .blocks .left .label {
  width: 140px;
  margin-right: 10px;
}

.profile-edit form .group .blocks .left .text-input {
  width: 300px;
}

.profile-edit form .group .blocks .right {
  width: 150px;
}

.profile-edit form .group .blocks .right .image-upload {
  width: 150px;
  height: 150px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.profile-edit form .group .blocks .right .image-upload input {
  display: none;
}

.profile-edit form .group .blocks .right .image-upload:before {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  content: '';
  opacity: 0;
  background: rgba(87, 12, 83, 0.75);
}

.profile-edit form .group .blocks .right .image-upload:after {
  font: 500 16px / 19px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 150px;
  height: 38px;
  z-index: 15;
  display: block;
  text-align: center;
  color: transparent;
  content: 'ОБНОВИТЬ ФОТО ПРОФИЛЯ';
}

.profile-edit form .group .blocks .right .image-upload:hover img {
  filter: blur(7px);
}

.profile-edit form .group .blocks .right .image-upload:hover:before {
  opacity: 1;
}

.profile-edit form .group .blocks .right .image-upload:hover:after {
  color: #fff;
}

.profile-edit form .group .plus .text-input {
  width: 270px !important;
}

.profile-edit form .group .plus a {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  opacity: .75;
  background: url(../../svg/ui/phone-plus.svg) no-repeat center center;
}

.profile-edit form .group .plus a:hover {
  opacity: 1;
}
