.vote > * {
  margin-bottom: 20px;
}

.vote > *:last-child {
  margin-bottom: 0;
}

.vote .preview {
  font: 0/0 a;
  text-align: justify;
}

.vote .preview img {
  margin-right: 25px;
}

.vote .preview span {
  font: 400 14px / 20px "Open Sans";
}

.vote .candidacies {
  font: 0/0 a;
  margin: 20px -30px 0 0;
}

.vote .candidacies .candidate {
  width: 300px;
  height: 160px;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 20px 0;
}

.vote .candidacies .candidate .image,
.vote .candidacies .candidate .info {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.vote .candidacies .candidate .image {
  width: 128px;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
}

.vote .candidacies .candidate .image img {
  width: 128px;
  height: 160px;
  z-index: 5;
}

.vote .candidacies .candidate .image:before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  z-index: 10;
  content: '';
  background: transparent;
}

.vote .candidacies .candidate .image .more-info {
  font: 500 14px / 16px "Roboto";
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  z-index: 15;
  text-align: center;
  color: transparent;
}

.vote .candidacies .candidate .image:hover img {
  filter: blur(7px);
}

.vote .candidacies .candidate .image:hover:before {
  background: rgba(87, 12, 83, 0.75);
}

.vote .candidacies .candidate .image:hover .more-info {
  color: #fff;
}

.vote .candidacies .candidate .image .voted-ico {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 6px;
  left: 6px;
  z-index: 20;
  border-radius: 50%;
  background: url(../../img/common/voted.jpg) no-repeat;
}

.vote .candidacies .candidate .info {
  width: 172px;
  height: 160px;
  padding: 5px 10px;
}

.vote .candidacies .candidate .info .name,
.vote .candidacies .candidate .info .post {
  display: block;
}

.vote .candidacies .candidate .info .name {
  font: 500 14px / 16px "Roboto";
  margin-bottom: 10px;
  text-align: left;
}

.vote .candidacies .candidate .info .post {
  font: 400 12px / 15px "Roboto";
  height: 75px;
  letter-spacing: .12px;
}

.vote .candidacies .candidate .info .votes {
  font: 500 14px / 16px "Roboto";
  width: 152px;
  height: 16px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  letter-spacing: .14px;
}

.vote .candidacies .candidate .info .vote-btn {
  font: 400 12px / 30px "Roboto";
  width: 152px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  color: #fff;
  background: #570c53;
}

.vote .candidacies .candidate .info .vote-btn.active {
  background: #7b2e8c;
}

.vote .candidacies .candidate .info .vote-btn:hover {
  background: #691d70;
}
