@import ../constants
@import ../mixins

.content
  width: 100%
  position: relative
  margin-bottom: 35px

  .main,
  .main-aside
    +font
    padding-left: 35px
    padding-right: 35px

  .main-aside > *
    display: inline-block
    vertical-align: top

  .main
    section
      width: 100%

  .main-aside
    section
      width: 630px
    aside
      width: 300px
      margin-left: 30px
