@import ../constants
@import ../mixins

footer
  +justify
  padding: 25px
  background: $pri1

  > *
    position: relative
    height: 135px
    text-align: left
    text-align-last: left

//
// Copyrights
//

footer
  .copyright
    width: 240px

    div
      +font(14px, 15px, 500)
      +position($pos: absolute, $left: 0)
      text-align: left
      color: #fff

    div:first-child
      top: 0
    div:last-child
      bottom: 0

//
// Site links
//

footer
  .links,
  .social
    margin-bottom: -15px
    a
      +font(14px, 15px, 500)
      display: block
      margin-bottom: 15px
      text-align: left
      color: #fff
    a:hover
      text-decoration: underline

  .social
    a
      padding-left: 29px

    .fb
      background: url(../../svg/social-ico-footer/fb.svg) no-repeat left center
    .vk
      background: url(../../svg/social-ico-footer/vk.svg) no-repeat left center
    .tw
      background: url(../../svg/social-ico-footer/tw.svg) no-repeat left center
    .yt
      background: url(../../svg/social-ico-footer/yt.svg) no-repeat left center
    .tg
      background: url(../../svg/social-ico-footer/tg.svg) no-repeat left center

//
// Logotypes organizers
//

footer
  .organizers
    width: 234px

    .title
      +font(17px, 20px, 600)
      margin-bottom: 15px
      text-align: center
      text-align-last: center
      text-transform: uppercase
      color: #fff

    .logos
      +justify(bottom)

      a
        +size($w: 112px, $h: 100px)
        text-align: left
        text-align-last: left
        background: url(../../img/sprite/logos-footer.jpg) no-repeat

      .fguild
        background-position: 0 -100px
      .sapfir
        background-position: 0 0
