@import ../constants
@import ../mixins

header
  position: relative
  box-sizing: content-box
  height: 105px
  padding: 35px 35px 0 35px
  margin-bottom: 30px
  background: #fff

//
// Social network
//

header
  .social
    +font
    +center(hor)
    top: 15px
    height: 26px

    a
      +size($box: 26px)
      display: inline-block
      vertical-align: top
      margin: 0 3px
      border-radius: 50%
      background: url(../../img/sprite/social1.jpg) no-repeat

    a:hover
      opacity: .75

    .fb
      background-position: 0 0
    .vk
      background-position: 0 -26px
    .lin
      background-position: 0 -52px
    .mr
      background-position: 0 -78px
    .ok
      background-position: 0 -104px
    .gp
      background-position: 0 -130px
    .lj
      background-position: 0 -156px
    .tw
      background-position: 0 -182px
    .tg
      background-position: 0 -208px
    .yt
      background-position: 0 -234px
    .in
      background-position: 0 -260px
    .rss
      background-position: 0 -286px

//
// Sign in, sign on, profile
//

header
  .login
    +font
    +position($pos: absolute, $top: 15px, $right: 35px)
    height: 26px
    text-align: right

    div
      display: inline-block
      vertical-align: top
      margin-left: 10px
      cursor: pointer

    span
      display: inline-block
      vertical-align: middle

    .link
      +font(13px, 26px)
      text-align: right
      color: $sec2

    .ico
      +font(15px, 26px)
      margin-right: 3px

      svg,
      path
        fill: $sec3

    div:hover
      .link
        color: $pri3
        text-decoration: underline

      .ico
        svg,
        path
          fill: $pri3

//
// Logotype, menu
//

header
  .menu
    +font
    height: 75px
    background: #fff

    > *
      display: inline-block
      vertical-align: bottom

    .logotype
      +size($w: 245px, $h: 75px)
      background: url(../../svg/logotype/full.svg) no-repeat center center

    .big
      +size($w: 715px, $h: 50px)
      position: relative
      overflow: hidden
      background: $pri1

    .big *
      display: inline-block
      vertical-align: top

    .big
      nav
        +size($w: 663px, $h: 50px)

        a
          +font(16px, 50px, 500)
          text-align: center
          text-transform: uppercase
          color: #fff
          &:hover
            background: $pri2
          &:first-child
            padding-left: 16px

        .l1
          width: 146px
        .l2
          width: 99px
        .l3
          width: 68px
        .l4
          width: 78px
        .l5
          width: 114px
        .l6
          width: 158px

    .big:before
      +size($w: 30px, $h: 56px)
      +position($pos: absolute, $top: 2px, $left: -21px)
      transform: rotate(-18deg)
      background: #fff
      content: ''

//
// Popup search
//

header
  .menu
    .big
      .search
        +size($w: 52px, $h: 50px)

        .ico,
        .ico-cross
          +size($w: 52px, $h: 50px)
          position: relative
          z-index: 15
          cursor: pointer

        .ico
          background: url(../../svg/seacrh/loupe.svg) no-repeat center center, $pri1
        .ico-cross
          background: url(../../svg/seacrh/cross.svg) no-repeat center center, $pri1

        .ico:hover
          background-color: $pri2
        .ico-cross:hover
          background-color: $pri1

        .search-group
          +size($w: 663px, $h: 50px)
          +position($pos: absolute, $top: 0, $left: 100%)
          z-index: 10
          transition: all .7s ease

        .search-group
          input
            display: inline-block
            vertical-align: middle
            height: 24px
            border: 0

          .text
            +font(13px)
            width: 564px
            margin: 13px 0 13px 17px
            padding: 0 5px 0 10px
            background: url(../../svg/seacrh/cut.svg) no-repeat left center, transparent

          .button
            +font(14px, 24px)
            width: 82px
            text-align: center
            text-transform: uppercase
            color: #fff
            background: $pri2
          .button:hover
            background: $pri3

//
// Mini navigation bar
//

header
  nav
    &.mini
      +justify(middle)
      margin-top: 11px

      *
        +font(12px, 19px)

      a:first-child
        font-weight: 500

      a:hover
        color: $pri2

      span
        +size($w: 1px, $h: 19px)
        background: $gray1
