@import ../constants
@import ../mixins

.blackout
  +size($w: 100%, $h: 100%)
  +position($pos: fixed, $top: 0, $left: 0)
  z-index: 900
  display: none
  background: rgba(0, 0, 0, .85)

.window
  +font
  +center(both)
  z-index: 901
  display: none
  width: 400px
  background: #fff
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .75)

//
// Push Notification
//

.window.push
  +size($w: 360px, $h: 90px)
  bottom: 50px
  transform: translate(50%, 0)
  box-shadow: 0 0 8px rgba(0, 0, 0, .35)

  .logo,
  .text
    display: inline-block
    vertical-align: top
    height: 90px

  .logo
    width: 90px
    background: url(../../svg/logotype/square.svg) no-repeat center center

  .text
    position: relative
    overflow: hidden
    width: 270px
    padding: 10px

    .cross
      +size($box: 16px)
      +position($pos: absolute, $top: 10px, $right: 10px)
      cursor: pointer
      opacity: .7
      background: url(../../svg/cross-black.svg) no-repeat center center

    .cross:hover
      opacity: 1

    .title
      +font(14px, 16px, 500)
      margin-bottom: 10px
      text-align: left

    .descr
      +font(13px, 15px)
      text-align: justify

//
// Modal header
//

.window-header
  height: 64px
  padding: 0 20px
  background: #ebedf3

  .title, .cross
    display: inline-block
    vertical-align: top

  .title
    +font(25px, 64px)
    +ellipsis
    width: 321px
    text-align: left
    color: #414448

  .cross
    +size($box: 19px)
    margin: 22px 0 23px 20px
    cursor: pointer
    opacity: .4
    background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px

  .cross:hover
    opacity: .7

//
// Modal footer
//

.window-footer
  position: relative
  height: 40px
  background: #ebedf3

  &.switch
    cursor: pointer

  &.switch:hover
    background: #e1e3e7

  .title
    +font(15px, 40px, 500)
    text-align: center

  &:hover .descr
    display: block

  .descr:hover
    display: none

  .descr
    +center(hor)
    top: 50px
    z-index: 904
    display: none
    width: 620px
    padding: 10px
    border-radius: 5px
    background: #fff
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .75)

    p
      +font(13px, 15px)
      +margin(bottom, 10px)
      text-align: justify

//
// Modal reminder
//

.window-reminder
  +font(14px, 18px, 400, 'Open Sans')
  +position($pos: absolute, $top: calc(100% + 10px), $left: 0)
  text-align: center
  color: #fff
  text-shadow: 0 3px 5px rgba(0, 0, 0, .75)

  a
    font-weight: 500
    color: #fff

//
// Modal content
//

.window-content
  &.m20
    margin: 20px
  &.m30
    margin: 30px

//
// Modal content (icons)
//

.window-content
  .modal-ico
    +size($box: 64px)
    +center(block)
    margin-bottom: 30px
    border-radius: 50%
    background: url(../../img/sprite/icons-modal.jpg)

    &.success
      background-position: 0 0
    &.error
      background-position: 0 -64px
    &.warning
      background-position: 0 -128px

//
// Modal content (text)
//

.window-content
  .text
    +font(14px, 16px)
    margin-bottom: 20px
    letter-spacing: .14px

//
// Modal content phone input
//

.window-content
  .phone
    +center(block)
    width: 260px

//
// Modal content code input
//

.window-content
  .code
    input
      display: inline-block
      vertical-align: top
      text-align: center

    [type='text']
      width: 86px
      margin-right: 20px

    [type='submit']
      width: 234px
      padding: 0

//
// Modal content share block
//

.window-content
  .ya-share2
    text-align: center

//
// Modal content main page link
//

.window-content
  .main-page-link
    +center(block)
    +size($w: 270px, $h: 50px)
    +font(20px, 50px)
    text-align: center
    text-align-last: center
    text-transform: uppercase
    color: #fff
    background: $pri1
  .main-page-link:hover
    background: $pri2

//
// Modal content title
//

.window-content .title
  +font(16px, 18px, 500)
  padding: 14px 20px 10px 20px

//
// Modal content description
//

.window-content .description
  +font(13px, 16px)
  text-align: justify
  padding: 15px 20px

//
// Modal content separate
//

.window-content hr
  border-color: $gray4

//
// Sign in (social)
//

.window.sign-in.social
  .window-content
    margin: 24px -25px 0 25px

    a
      +size($box: 100px)
      display: inline-block
      margin: 0 25px 25px 0
      background: url(../../img/sprite/social3.jpg) no-repeat 100px 100px

      &.vk
        background-position: 0 0
      &.fb
        background-position: 0 -100px
      &.gp
        background-position: 0 -200px
      &.ya
        background-position: 0 -300px
      &.mr
        background-position: 0 -400px
      &.in
        background-position: 0 -500px

      &:hover
        opacity: .75

//
// Sign in (email)
//

.window.sign-in.email
  .window-content
    margin: 38px 65px 36px 65px

    .ico div
      width: 270px

    .links
      +justify
      +size($w: 100%, $h: 15px)
      margin-top: 15px

      a
        +font(13px, 15px)
        text-align: left
        text-align-last: left
        color: $sec2

      a:hover
        text-decoration: underline
        color: $pri2

//
// Modal vote all information
//

.window.vote-info
  +font
  +size($w: 950px, $h: 522px)
  padding: 25px
  text-align: left
  background: #fff

  > *
    display: inline-block
    vertical-align: top
    height: 472px

  img
    width: 350px
    margin-right: 25px

  .information
    position: relative
    width: 525px

    .name
      +font(19px, 23px, 500)
      +ellipsis
      margin-bottom: 20px
      padding-right: 25px
      letter-spacing: .19px

    .cross
      +size($box: 19px)
      +position($pos: absolute, $top: 2px, $right: 0)
      cursor: pointer
      opacity: .4
      background: url(../../svg/cross-black.svg) no-repeat center center/19px 19px

    .cross:hover
      opacity: .7

    .description
      height: 430px
      padding-right: 10px
      overflow-y: auto
      text-align: justify

    .description div
      +font(16px, 19px)
      font-style: italic
      margin-bottom: 20px
      letter-spacing: .14px

//
// Modal image (photo gallery album)
//

.window.image
  +size($w: auto, $w-max: 860px, $h: auto, $h-max: 700px)

  .window-content
    +size($h-max: 700px, $w-max: 860px)
    overflow: hidden

  .ya-share2
    +position($pos: absolute, $bottom: 10px, $left: 10px)
    opacity: 0
    transition: opacity .3s ease

  &:hover .ya-share2
    opacity: 1

  .cross
    +size($box: 19px)
    +position($pos: absolute, $top: 15px, $right: 15px)
    z-index: 920
    cursor: pointer
    opacity: .4
    transition: opacity .3s ease
    background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px

  &:hover .cross
    opacity: 1

  .move-left,
  .move-right
    +size($w: 60px, $h: 100%)
    +position($pos: absolute, $bottom: 0)
    cursor: pointer
    opacity: .4
    transition: opacity .3s ease

  .move-left
    left: -60px
    background: url(../../svg/ui/pag-white-left.svg) no-repeat center center

  .move-right
    right: -60px
    background: url(../../svg/ui/pag-white-right.svg) no-repeat center center

  .move-left:hover,
  .move-right:hover
    opacity: 1

//
// Modal video (video gallery)
//

.window.video
  +size($w: 640px, $h: auto)

.window.video .window-content
  +size($w-max: 860px, $h-max: 700px)
  overflow: hidden

.window.video .ya-share2
  +position($pos: absolute, $bottom: -34px, $right: 0)

.window.video .cross
  +size($box: 19px)
  +position($pos: absolute, $top: 5px, $right: -29px)
  z-index: 920
  opacity: .4
  cursor: pointer
  transition: opacity .3s ease
  background: url(../../svg/cross-white.svg) no-repeat center center/19px 19px

.window.video:hover .cross
  opacity: 1
