@import ../constants
@import ../mixins

aside .normal > div
  +margin(bottom, 30px)

//
// Title block in module (title & link)
//

.aside-title
  +justify
  height: 40px
  margin-bottom: 15px
  padding: 0 12px
  background: $pri1

  *
    +font(14px, 40px)
    text-align: left
    text-align-last: left
    color: #fff
  div

    font-size: 20px
    text-transform: uppercase

  a
    font-size: 15px

  a:hover
    text-decoration: underline

//
// Calendar
//

.aside-calendar
  a
    display: block
    overflow: hidden
    height: 71px
    padding: 6px
    text-align: left
    text-transform: uppercase

    &:nth-child(odd)
      background: #f9f9f9

    &:hover
      background: $gray3

    .title
      +font(12px, 13px)
      margin-bottom: 3px
      padding-left: 16px
      background: url(../../svg/pink-ico/calendar.svg) no-repeat left center

    .event
      +font(12px, 14px, 500)
      height: 42px

//
// Banner
//

.aside-banner
  overflow: hidden
  a,
  img
    +size($w-max: 100%, $h: auto)
    display: block

//
// Interview
//

.aside-interview
  .aside-content
    a
      +font
      display: block
      height: 100px
      margin-bottom: 15px
      color: #000

      &:hover
        background: $gray3

      img, .info
        display: inline-block
        text-align: left
        text-align-last: left
        vertical-align: top

      img
        +size($w: 80px, $h: 100px)

      .info
        +size($w: 220px, $h: 100px)
        padding: 5px 0 5px 10px

      .name
        +font(15px, 16px, 600)
        +ellipsis
        height: 16px
        margin-bottom: 10px

      .quote
        +font(14px, 16px)
        height: 64px

//
// Blog
//

.aside-blog
  .aside-content
    a
      +justify
      display: block
      height: 80px
      margin-bottom: 15px
      color: #000

    a:hover
      background: $gray3

    img, .info
      text-align: left
      text-align-last: left

    img
      +size($box: 80px)

    .info
      +size($w: 220px, $h: 80px)
      padding: 5px 0 5px 10px

      .post
        +font(15px, 16px)
        height: 48px
        margin-bottom: 8px

      .name
        +font(15px, 13px)
        +ellipsis
        height: 13px
        padding-left: 18px
        background: url(../../svg/pink-ico/pen.svg) no-repeat left center

//
// Video Preview
//

.aside-video
  .aside-content
    position: relative
    display: block

    &:before
      +size($w: 300px, $h: 169px)
      +position($pos: absolute, $top: 0, $left: 0)
      display: block
      content: ''
      background: url(../../svg/ui/play.svg) no-repeat center center, rgba(0, 0, 0, .15)

    &:hover:before
      background-color: rgba(0, 0, 0, .35)

    img
      margin-bottom: 5px

    div
      +font(14px, 16px, 500)
      height: 32px
      text-align: center
      text-transform: uppercase

    &:hover div
      text-decoration: underline

//
// Press
//

.aside-press
  .aside-content
    a
      +justify
      display: block
      height: 48px
      margin-bottom: 7px

      img,
      span
        text-align: left
        text-align-last: left

      img
        +size($box: 22px)
        border: 1px solid $gray1

      span
        +font(15px, 16px)
        +size($w: 278px, $h: 48px)
        padding-left: 10px

      &:hover span
        text-decoration: underline
