@import ../constants
@import ../mixins

aside .sticky > div
  +margin(bottom, 20px)

//
// Anchor
//

.aside-anchor
  +font

  &:after
    display: block
    margin-bottom: -5px
    content: ''

  a
    +font(13px, 15px)
    display: inline-block
    vertical-align: top
    text-align: left
    text-align-last: left
    margin-bottom: 5px
    padding: 5px
    border-left: 5px solid $pri1
    background: #f9f9f9

  a:hover
    border-left-color: $pri3
    background: $gray3

  .full
    width: 300px

  .semi
    a
      +ellipsis
      width: 147px
      margin-right: 6px
    a:nth-of-type(2n)
      margin-right: 0

//
// Buttons Link
//

.aside-btn
  a
    +margin(bottom, 10px)
    +font(14px, 16px, 500)
    display: block
    padding: 7px 10px
    text-align: center
    text-transform: uppercase
    color: #fff
    background: $pri1
  a:hover
    background: $pri2

//
// News Link
//

.aside-news
  a
    +margin(bottom, 10px)

  a
    +font(13px, 15px)
    display: block
    max-height: 52px
    padding: 10px
    text-align: left
    color: $gray1
    border: 1px solid $gray2
    background: #f7f7f7

  a:hover
    color: $sec1
    border-color: $gray1
