@import ../constants
@import ../mixins

section.sponsors
  position: relative
  width: 100%
  padding: 30px 35px
  background: $gray4

//
// Title
//

section.sponsors
  .title
    +font(32px, 26px, 600)
    height: 26px
    margin-bottom: 18px
    text-align: left
    text-transform: uppercase

//
// Link
//

section
  &.sponsors
    a
      +font()
      +position($pos: absolute, $top: 30px, $right: 35px)
      height: 26px
      text-align: right

      span
        display: inline-block
        vertical-align: middle

    .link
      +font(13px, 26px)
      text-align: right
      color: $sec2

    .ico
      +font(15px, 26px)
      margin-right: 3px

      svg,
      path
        fill: $sec3

    a:hover
      .link
        text-decoration: underline
        color: $pri3

      .ico
        svg,
        path
          fill: $pri3

//
// Images (Justify)
//

section
  &.sponsors
    .img-justify
      div
        +justify
        img
          +font(14px)
          display: inline-block
          margin-top: 20px
          text-align: left
          vertical-align: middle
